[2013-11-21 21:20] spg opened #1 "Failed running Person example in README"
I tried running your example in the README.

First of all, I think you should remove `<scope>provided</scope>` from

[code]

in the README, otherwise users will not be able to resolve the dependency at runtime.

Finally, I tried your example using the `Person` class. Serialization to a `String` works just fine. However, when I try to deserialize the string into a `Person`, I run into a `JsonDeseri

[2013-11-22 15:19] spg opened #2 "License"
I looked at a few source files, and there's no license header.

What's the license? Can I use this lib on a private, for-profit project?

Thanks man!

[2013-11-22 22:02] #2 closed, assigned to nmorel

[2013-11-22 23:07] meriouma opened #3 "Failing GWT compilation due to jackson-annotations"
When including your library in my project, here's where the GWT compilation fails:

[code]

I think your `<inherits name="com.fasterxml.jackson.annotation.JacksonAnnotation" />` is causing this?

[2013-11-24 18:35] #1 closed, assigned to nmorel

[2013-11-24 20:07] #3 closed, assigned to nmorel

[2013-12-02 21:49] nmorel opened #4 "Ignore static fields"
When looking for fields to serialize/deserialize, the generator does not ignore the static fields.

[2013-12-02 22:23] nmorel opened #5 "Handle Void"
Generator currently fails when it tries to parse Void type.

[2013-12-03 19:42] #4 closed, assigned to nobody

[2013-12-03 19:42] #5 closed, assigned to nobody

[2013-12-04 21:05] nmorel opened #6 "Custom JsonSerializer and JsonDeserializer"
Add a mechanism to add custom serializer/deserializer.
It could be use to make addon libraries for guava or jdk8 date time api.

[2013-12-09 21:58] nmorel opened #7 "Support for Guava"
Now that we can add custom serializer and deserializer, let's add an extension library for Guava

[2013-12-20 14:52] jmgilmour opened #8 "Add support for mix-in annotations"
I am very interested in using your product.  In my project, Jackson is currently being used on the server-side to do serialization/deserialization into json.  We'd love to be able to integrate gwt-jackson into our GWT GUI as well.

However, we use mix-in annotations (mostly to @JsonIgnore methods) so that we can keep our POJOs free of serialization-related annotations.

It would be great if gwt-ja

[2013-12-20 14:54] nmorel opened #9 "Benchmark"
Add some kind of benchmark project to compare the performance of different serialization mechanism (piriti, resty, errai).

- [x] init a project in example
- [ ] deploy it somewhere
- [ ] define a model that all mechanism are able to serialize
- [ ] ....

[2013-12-31 11:12] #7 closed, assigned to nmorel

[2013-12-31 11:14] #6 closed, assigned to nmorel

[2014-01-14 17:01] meriouma opened #10 "IndexOutOfBoundException with JsonWriter.string(value) when value is a String containing JSON"
I have a DTO which contains a `String json` property, which obviously contains JSON (ie : `{"json":"{\"key\":\"value\"}"}`.

When serializing, I end up with an IndexOutOfBoundsException when calling `out.append(value, last, i-last)` in method `JsonWriter.string(String value)`

[2014-01-15 10:00] imrabti opened #11 "Example on how to use Inheritance with gwt-jackson"
Can you please update the examples, and offer a new one which shows how to use object inheritance.

[2014-01-19 10:52] rsallar opened #12 "add support to @JsonIgnoreProperties"
Hi, I would like to see the @JsonIgnoreProperties annotation added to the library.
Currently, any rest service which changes any property of a result breaks the call with a message like:
...
Caused by: com.github.nmorel.gwtjackson.client.exception.JsonDeserializationException: Unknown property 'the_new_property_field'

Thanks

[2014-01-19 11:10] #12 closed, assigned to nmorel

[2014-01-20 21:20] #10 closed, assigned to nmorel

[2014-01-20 21:21] #11 closed, assigned to nmorel

[2014-01-21 15:19] imrabti opened #13 "JSON Inheritance deserialization complex object"
I'm having some difficulties parsing this JSON data :

[code]

Can't deserialize the user property.

The "com.myproject.common.shared.business.identity.User" class is a parent class and have a child class "com.myproject.common.shared.business.identity.BackUser".

[2014-02-16 12:39] Ryan-ZA opened #14 "Deserializing Lists?"
What's the correct way to handle this?

/rest/clients -> returns json of List<Client>
/rest/clients/id -> returns json of Client

The main docs say to use
public static interface ClientMapper extends ObjectMapper<Client> {}

Should there then also be a
public static interface ClientMapper extends ObjectMapper<List<Client>> {} ?

Would this not generate duplicate code?

[2014-02-16 18:27] #14 closed, assigned to nobody

[2014-03-19 21:33] DanielCloudCredo opened #15 "Examples for general ObjectMapper?"
Is it possible to have one ObjectMapper instance that's capable of mapping many classes, like a regular Jackson ObjectMapper?

All the examples here seem to create one mapper per class (eg PersonMapper extends ObjectMapper<Person> {}), whereas a normal Jackson ObjectMapper can take any old class at runtime.

Thanks, and keep up the good work - this library could save me a lot of effort!

[2014-03-21 12:58] #15 closed, assigned to nobody

[2014-03-21 21:38] DanielCloudCredo opened #16 "2D Arrays - Cannot specify an array dimension after an empty dimension"
Attempting to create a deserializer for a type containing a 2D array generates Java classes with fail to compile to GWT.

[code]

Here's a (simplified) example of the class that causes the problem:

[code]

And here's the offending snippet of generated code:

[code]

[2014-03-24 21:55] spg opened #17 "Generics : Bounded wildcards"
Does gwt-jackson support bounded wildcards? I'm having compilation errors, but I was just wondering whether you've actually implemented support for bounded wildcards.

E.g.:

[code]

I'm using gwt-jackson 0.4.0.

[2014-03-28 22:11] #13 closed, assigned to nmorel

[2014-03-28 22:11] #16 closed, assigned to nmorel

[2014-03-28 22:11] #17 closed, assigned to nmorel

[2014-05-20 18:10] reinert opened #18 "Turbo GWT HTTP integration"
Hi @nmorel, congratulations for your excellent project! It is well designed.

I'm working on [Turbo GWT HTTP](https://github.com/growbit/turbogwt-http) - a project for GWT client/server communication. It's a high level API for managing and performing requests gracefully.

I let the de/serialization job for third-part libraries. By studying the available solutions, I really liked this one.

It woul

[2014-06-04 05:08] reinert opened #19 "Add configuration to set Map implementation used in"
I identified two places where Map implementations are used:
https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/main/java/com/github/nmorel/gwtjackson/rebind/BeanJsonSerializerCreator.java#L146
https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/main/java/com/github/nmorel/gwtjackson/rebind/BeanJsonDeserializerCreator.java#L324

I would like to be able to change these i

[2014-06-11 14:56] MathieuLorber opened #20 "Add support for Enum with interfaces"
I'm currently working on a big GWT project, and more precisely on a proof of concept to use JSON with Jackson on the server side, gwt-jackson on the front size. The RPC services we try to migrate use complex objects. I tried several libraries, gwt-jackson is the only one to purpose solutions for some difficulties (inheritance with generics, complex map keys...).

But I actually have problems with

[2014-06-11 16:17] #19 closed, assigned to nobody

[2014-06-28 21:04] #8 closed, assigned to nmorel

[2014-06-28 21:04] #20 closed, assigned to nmorel

[2014-06-30 02:14] reinert opened #21 "Guava dependency"
I realized that gwt-jackson has guava as a dependency. Is this required, or optional?
Guava is a library of considerable size, and having the option of what you want to depend is always good.

[2014-06-30 12:18] #21 closed, assigned to nobody

[2014-07-05 16:47] confile opened #22 "gwt-jackson 0.6.0 @JsonIgnore marked properties is not ignored."
sorry it works fine

[2014-07-05 16:49] #22 closed, assigned to nobody

[2014-07-22 04:31] ismagilov opened #23 "GWT compilation fails with com.fasterxml.jackson.annotation.ObjectIdGenerators.Base is not visible"
After we added `gwtp-dispatch-rest` which depends on `gwt-jackson` our project GWT compilation started failing with these messages:

[code]

Meaningful project dependencies:

[code]

Probably, this issue is somehow related to issue #3. But that was fixed in 0.2.0. Our project transitively depends on 0.4.0. We tried to fix the problem by upgrading maven dependencies to their latest releases and eve

[2014-07-27 09:09] #23 closed, assigned to nmorel

[2014-09-03 19:27] BenDol opened #24 "Issues when Compiling"
Hey I am using 0.6.2 and getting these errors on compile: [http://pastebin.com/vKJneM4x](http://pastebin.com/vKJneM4x)
Not sure why this is happening. Here is the implementation:

[code]

com.gwtplatform.dispatch.rest.DispatchRest

[code]

That's it. I use Ivy dependency manager and all the jars are i the classpath and war (webapp) directory. Not sure what is going on here.

[code]

[2014-09-15 15:03] #24 closed, assigned to nobody

[2014-09-15 15:10] BenDol opened #26 "Serialization Compilation Issues"
Getting build errors while the serialization is compiling. Not even sure why its trying to compile this class for serialization tbh:

[code]

The generated file:

[code]

Not really sure what's going on here. Any ideas?

[2014-09-15 17:17] #26 closed, assigned to nobody

[2014-09-16 08:03] BenDol opened #27 "Failing to instantiate interface Type"
So I have a situation coming from GWT RPC serialization. GWT allowed you to provide an interface type as a return type and then you return an object that implements that interface. It appears gwt-jackson doesn't offer this kind of deserialization?

I have an interface called ProcessPageData which has 2 implementors:
- OpenIncidentData
- InvestigationData

[code]

Depending on the process that is b

[2014-09-17 04:39] BenDol opened #28 "Implement a solution for Infamous Type Erasure"
As seen here at 5.1 Missing type information on Serialization:
[http://wiki.fasterxml.com/JacksonPolymorphicDeserialization](http://wiki.fasterxml.com/JacksonPolymorphicDeserialization)
[https://github.com/FasterXML/jackson-databind/issues/336#issuecomment-27228643](https://github.com/FasterXML/jackson-databind/issues/336#issuecomment-27228643)

This resolves the issues I was having with the Array

[2014-09-17 09:41] crevete opened #29 "GWT and Jackson should be updated"
GWT version should be uptated to 2.6.1 (currently the last version).
And Jackson from 2.3.2 to 2.4.2

[2014-09-17 10:50] #28 closed, assigned to nobody

[2014-09-18 11:16] #27 closed, assigned to nobody

[2014-09-18 20:25] #18 closed, assigned to nobody

[2014-09-22 14:49] BenDol opened #30 "StringIndexOutOfBoundsException thrown"
[code]

I am getting this error when serializing a somewhat large object. What could be causing this?

[2014-09-22 19:59] #30 closed, assigned to nobody

[2014-09-22 20:02] BenDol opened #31 "Unsupported Media Type"
I apologize if this isn't a gwt-jackson issue, I am just running out of options with this. I haven't changed anything that should be causing this issue and can't find a solution. If you have any advice I'd be really grateful to say the least.

[code]

For some reason I can load the Incident object now, but I can't send it to the server. This was working earlier, then all of a sudden just stopped w

[2014-09-23 01:50] #31 closed, assigned to nobody

[2014-10-10 15:54] jgrzebyta opened #33 "ropertyParser.extractFieldNameFromGetterSetterMethodName throw exception java.lang.StringIndexOutOfBoundsException: String index out of range: 4"
Hi,

I have an exception during compilation: http://pastebin.com/b6Uf7EBt
I use: java 1.7, gwt 2.6.1 gwt-jackson 0.6.2.

The error is somewhere here:

[code]

**Response** is an interface:

[code]

And has 2 implementations. One of them is **MessageResponse**:

[code]

I tried everything: changed _Response_ interface into abstract class, put the initialising code into different part of code, moved

[2014-10-13 10:16] #33 closed, assigned to nobody

[2014-10-22 13:38] dodgex opened #34 "Deserialize "Abc extends ArrayList<T>/HashMap<T>""
I just found this Project and think it is awesome to have this.

But i have a small issue. gwt-jackson can't deserialize some of my classes.

I have:

[code]

and

[code]

While gwt-jackson works if have `ObjectMapper<Map<String, Something>>` it does not if i do  `ObjectMapper<StuffMap>`. With original Jackson this works and it would be awesome if it would be possible to use this with gwt-jackson

[2014-10-22 14:09] #34 closed, assigned to nobody

[2014-11-10 14:30] reinert opened #35 "Collections serialization"
Are there any difference in the de/serialization process of Set, List and any of these implementations?

[2014-11-10 15:09] #35 closed, assigned to nobody

[2014-11-11 02:29] reinert opened #36 "Polymorphic Type Handling"
Are the any plans to support [PTH](http://wiki.fasterxml.com/JacksonPolymorphicDeserialization)?

[2014-11-11 18:42] #36 closed, assigned to nobody

[2014-11-17 10:24] lembasgithub opened #37 "GWT project without Maven"
I would like to use gwt-jackson in the client side in my GWT project without Maven. Which jars do I need from which urls exactly?

I tried the following without success:
- I downloaded http://central.maven.org/maven2/com/github/nmorel/gwtjackson/gwt-jackson/0.6.2/gwt-jackson-0.6.2.jar and added to my buid path.
- I added <inherits
  name='com.github.nmorel.gwtjackson.GwtJackson'/> to my module gwt

[2014-11-23 13:51] #29 closed, assigned to nmorel

[2014-11-23 13:52] #37 closed, assigned to nmorel

[2014-12-22 10:07] doggie1989 opened #38 "How can I covert Object to List<String> ?"
I am using resty-gwt and it i depends on your project.

I use Map<String,Object> as DTO both in server side and client side.

GWT

[code]

if the Object is String, I can convert it into String type.
But,if the Object is List, when i use

[code]

[2014-12-22 17:45] #38 closed, assigned to nmorel

[2015-01-09 01:15] reinert commented on #38
As an alternative, you could try [requestor](https://github.com/reinert/requestor). [It is integrated to gwt-jackson too](https://github.com/reinert/requestor/wiki/POJO-JSON-Serialization).

[2015-01-09 01:20] reinert commented on #35
FYI, [requestor](https://github.com/reinert/requestor) was [officially released yesterday](https://groups.google.com/forum/#!topic/google-web-toolkit/IuFQlobR83U). It has an extension integration the HTTP Client API to gwt-jackson, making a really powerful union.

[2015-01-09 08:04] nmorel commented on #35
Yep, I saw your post on G+.
I read a bit the documentation and read how to use gwt-jackson.
Do we need to annotate every single POJO or only the root one ?

[2015-01-09 08:06] nmorel commented on #38
I'll add frameworks using gwt-jackson to the README

[2015-01-09 08:15] nmorel commented on #35
Also, I may add a simple example using requestor as I did for gwtp. This way, I can see if I break anything.

[2015-01-09 12:27] reinert commented on #35
The way you can tell Requestor to generate and automatically register serializer and deserializer for a type is annotating it with `@Json`. This was the easiest way I found to provide auto serialization for custom types. Without any information in the types, or about them anywhere else, it was hard to automatically provide serialization for them. So, yes, it's necessary to annotate each POJO you w

[2015-01-13 13:16] pkolaric opened #39 "JSON Property name containing special characters fails GWT deserialization"
public class MyPojo {
    @JsonProperty("@id")
    String myIdReference
}

Will result in illegal code generation
private native void set@id(.....

[2015-01-13 14:58] nmorel commented on #39
Ah nice catch. I'll see what I can do.
It should work if you put your field public or annotate a public setter.

[2015-01-13 15:09] pkolaric opened #40 "make AbstractObjectMapper.getSerializer / getDeserializer public?"
It would be nice if
    com.github.nmorel.gwtjackson.client.AbstractObjectMapper
methods
    protected JsonSerializer<T> getSerializer()
and
   protected JsonDeserializer<T> getDeserializer()
were public. Then a custom serializer/deserializer could delegate object deserialization/serialization.

For example if we're deserializing a typed map (Map<String,Object>) where map key defines value type an

[2015-01-13 15:37] nmorel commented on #40
You can take a look here to define custom serializer/deserializer : https://github.com/nmorel/gwt-jackson/wiki/Custom-serializers-and-deserializers

[2015-01-13 16:01] pkolaric commented on #40
I already did it, but i had to make the mentioned methods public so i could do:
protected T doDeserialize(JsonReader reader, JsonDeserializationContext ctx, JsonDeserializerParameters params) {
....
map.put(key, GWTDeserializers.getDeserializer(key.getType()).deserialize(reader, ctx));
}

where GWTDeserializers holds a class to deserializer map:

private static final Map<Class, JsonDeserializer<?>

[2015-01-13 16:19] nmorel commented on #40
I don't understand what you are trying to achieve.
Which type are you deserializing ?

[2015-01-13 16:43] pkolaric commented on #40
I'm deserializing a map Map<String,Object>, where key defines value type. For example let's call it 'Settings'.

class Settings extends Map<String,Object> {
}

json example:
"settings": {
    "minValue": 2,
    "maxValue": 10,
    "label": "someLabel",
    "tags": ["tag1", "tag2", "tag3"],
    "someSettingWhichIsAPojo": {
         "property1":"value1", "property2": 233}
}

minValue, maxValue, labe

[2015-01-13 17:59] nmorel commented on #40
Ok I see your problem now.

If you know all the keys, you can add setter and in the setter, use the put method.
Your Settings class will be considered as a POJO.

 In the current snapshot, the annotation @JsonAnySetter is also supported. You can have something like this :

[code]

[2015-01-13 18:27] nmorel commented on #40
You can also use JsonReader.nextValue() to retrieve the string and then call ObjectMapper.read(String).

[2015-01-13 18:38] nmorel commented on #40
If these workarounds don't work for you, I will maybe add some kind of provider/factory to get access to the JsonSerializer/JsonDeserializer directly like :
[code]

or

[code]

I don't like making public stuff like your proposal. It's hard to maintain the compatibility after.

[2015-01-14 11:51] confile opened #41 "Project does not compile with Java8"
I tried to compile a project using gwt-jackson 0.7 with GWT2.8SNAPSHOT and Java8. I got the following errors:

[code]

[2015-01-14 12:17] nmorel commented on #41
It's odd. It's like the compiler doesn't see external source files.
It only fails in type contained in jackson-annotations or jax-rs api.

[2015-01-14 12:18] nmorel commented on #41
GWTP is also impacted :
[code]

[2015-01-14 12:24] confile commented on #41
Yes I use GWTP as well.

[2015-01-14 13:15] pkolaric commented on #40
1.) Custom setters +  @JsonAnySetter would work but i'd have to create setters for all non-primitive keys and getters for all keys (@JsonAnyGetter only works for primitives)
2.)  ObjectMapper.read(String) would work for ObjectMappers, what about delegating to custom deserializers created in GWT or deserializing primitives?

[2015-01-14 13:30] pkolaric commented on #40
I think i'll go with protected setters/getters this time.  I still think there should be access to generated serializers/deserializers. If i had to vote i would prefer your 2nd proposal (with JsonMapperFactory).

[2015-01-14 13:30] #40 closed

[2015-01-14 20:12] nmorel commented on #41
I just compiled my gwtp example with java 1.8, GWT 2.8.0-SNAPSHOT, GWTP 1.4-SNAPSHOT and gwt-jackson-0.7.1-SNAPSHOT without errors.

[2015-01-14 20:30] nmorel commented on #41
I only see the same kind of error in the guava extension. But I see that this is a known issue with guava.

[2015-01-14 20:31] confile commented on #41
Could you please link the issue?

[2015-01-14 20:32] nmorel commented on #41
https://code.google.com/p/google-web-toolkit/issues/detail?id=9036

[2015-01-14 20:34] nmorel commented on #41
Not sure it's the same problem though. But there is not much I can do I think.

[2015-01-14 20:34] confile commented on #41
You can at least rate the issue.

[2015-01-14 22:12] #39 closed

[2015-01-18 13:21] nmorel commented on #40
Finally, I made them public. I'll add the factory interface later and probably put them back protected before the 1.0.0 release.

[2015-01-19 19:02] nmorel opened #42 "Rewrite generators"
Currently, generators are really hard to read and understand.
Writing code at hand and the lack of comments are the main issues.
The generated code is also hard to read because there are no import, I only use qualified class names.

[javapoet](https://github.com/square/javapoet) could be a nice solution.

[2015-01-29 15:30] crevete opened #43 "Support for annotation @JsonInclude"
Is it easy to add support for ```@JsonInclude``` ?

Beside, the jsckson version may be upgraded to 2.5.0.

[2015-01-29 15:37] nmorel commented on #43
It shouldn't be too hard. I'll look into it.

[2015-01-31 09:46] nmorel commented on #42
[javapoet](https://github.com/square/javapoet) released a 1.0.0 version and it should support everything needed (even jsni).

[2015-02-08 20:17] #42 closed

[2015-02-08 20:52] #43 closed

[2015-03-19 12:03] butlnor opened #44 "Globally disabling getters and setters"
Hello!

I our project repository we have thousands of classes, and not all were written conforming to the getter/setter patterns. This was not even required or necessary.

However, gwt-jackson by default processes such non-getter methods that start with "get***". As many such methods are not meant to be used outside of their contexts, they generate an error when called by gwt-jackson.

I know abou

[2015-03-19 13:01] nmorel commented on #44
The only available way is to use a mixin annotation on `java.lang.Object`.

Though, I should be able to add a global configuration in `AbstractConfiguration`.

[2015-03-19 13:18] butlnor commented on #44
Thanks.

I tried with just Object, but then I got too many errors and warnings, which otherwise don't happen (if I annotate some tens of classes, which I use and don't want to use their setters and getters). We have many really complex classes, which were initially not meant for JSON, so it's likely their fault. It's my responsibility to fix them.

However, stack overflow happens, if an object has

[2015-03-19 13:21] butlnor commented on #44
I meant stack overflow while GWT is rebinding at the startup, not at runtime.

[2015-03-19 13:38] nmorel commented on #44
I don't understand how you get a stackoverflow. Do you have an example ?

You also changed the auto detection for field to detect more than public fields ?

[2015-03-19 14:38] butlnor commented on #44
I wrote this:

[2015-03-19 14:43] butlnor commented on #44
However, regarding the stack overflow, it's strange. I made a copy of the problematic class, to find which field or method causes problems, but the copy worked. So it seems it has something to do with the type hierarchy, as many other classes extend this one. Will try to analyze and will inform you soon.

The class and it's hierarchy is too complex to send it as an example. It has one String id fi

[2015-03-23 11:34] butlnor opened #45 "Serializing some other object in custom serializer"
Hello!

I don't find a way how to serialize some other object inside the "doSerialize" method of my custom serializer that extends JsonSerializer.

Let's say I have classes A and B, and A contains field of type B. Now I have custom JSON serializers for both classes A and B and inside AJsonSerializer's doSerialize, I want to write the value of field B.

The thing is, I don't want to write B's field

[2015-03-23 12:41] nmorel commented on #45
A possible workaround is to define an `ObjectWriter` for B inside your `AJsonSerializer` and to retrieve the underlying serializer.

[code]

A bit more background about this issue : #40

I may add some factory interface where you could define all the serializer/deserializer you need.

[2015-03-23 12:42] nmorel commented on #45
Can I ask why you need to define a custom serializer for your type A ?
You couldn't achieve it with annotations ?

[2015-03-23 13:30] butlnor commented on #45
Wow thanks, that was what I was looking for. This works (except I had to use ObjectWriter<B> instead of JsonWriter<B>).

The reason for not using the annotations is, that the classes are in other older shared library projects, which must not have JSON annotations, as that projects are used elsewhere with custom build scripts, etc... So it's quite a requirement to leave the classes intact and not u

[2015-03-23 13:38] #45 closed

[2015-03-23 13:41] nmorel commented on #45
You can use [mixin annotation](https://github.com/nmorel/gwt-jackson/wiki/Mix-in-annotations) when you can't modify the class.

[2015-03-23 13:47] butlnor commented on #45
The problem is that the classes don't have proper getters and setters (non-getter methods start with "get", but must not be called outside of their context, as they throw exceptions), but the fields are private or protected, so they cannot be serialized by the standard serializer. It's related to my previous issue.

[2015-03-28 13:28] butlnor commented on #44
I found a reason for stack overflow. It happens with parameterized classes that use themselves as a parameter, like:

    interface IdentifiableEntity<T extends IdentifiableEntity<T>>

[2015-03-28 17:07] nmorel commented on #44
Thanks, I'll look into it!

[2015-03-29 20:39] butlnor opened #47 "Disable "Enum" and "EnumMap" warnings"
If I have a Map<> that contains some wildcard parameterized type as a value, like:

    Map<String, List<SomeClass<?>>>

then I get warnings like:

    Type 'java.lang.Enum' is not supported as map's key
    Subtype 'java.util.EnumMap' is not supported. We ignore it.

I know it's just a warning and since my parameter will never be an Enum or EnumMap, I can ignore it. But this warning still puts ju

[2015-03-29 21:03] nmorel commented on #47
I can change the log to info.

[2015-03-29 22:02] butlnor commented on #47
Yes, to have it as an info is a possibility.

However, in my humble opinion, I think that it's quite unlikely that someone would use EnumMap as a wildcard parameter. They might use Enum, though, but rarely. But, I think, the warning about this can be clearly written somewhere in the documentation, and the generator could simply ignore it (by not logging this warning and not generating mappers for

[2015-03-30 09:56] nmorel commented on #47
The generator does not fail but ignore the type when he does not support it.

To remove the warning, I filtered out `EnumSet` and `EnumMap` from supported subtypes of `Object` and `Serializable` classes.

[2015-03-30 09:58] butlnor commented on #47
Thanks, that's great! I am very grateful.

[2015-03-30 10:02] nmorel opened #48 "Stackoverflow error"
A stack overflow happens with parameterized classes that use themselves as a parameter, like:

[code]

Found in issue #44.

[2015-03-31 08:41] nmorel commented on #48
@butlnor Can you give me a full example to reproduce the error please ?
I tried and got a stackoverflow but not at the same place. It's fixed but I want to check if there is other places where it can happen.

[2015-03-31 08:42] #47 closed

[2015-03-31 10:33] nmorel commented on #44
You can now configure the default behaviour via a global configuration. Watch [this wiki page](https://github.com/nmorel/gwt-jackson/wiki/Custom-serializers-and-deserializers) to find how to add your custom configuration.

[2015-03-31 10:33] #44 closed

[2015-04-08 08:43] butlnor commented on #48
I am afraid it's quite impossible to prepare an example, as I tried this on our enterprise project, which consist of many subprojects, that have in total more than a million lines of code. I am not sure if I can make some working extract, as the problematic classes are parts of a really complex hierarchy.

If you were able to got the stack overflow, this might be it. If you will be able to fix it,

[2015-04-09 10:26] butlnor commented on #48
If this can help you: with the version 0.9.0, the stack overflow happens in AbstractCreator, line 344, when argType = "interface ? super T" and classType = "interface com.test.IdentifiableEntity<? super T>". The method is then recursively called with the same argType.

I also made a snapshot of 0.9.1-issue48 and used it, but since AbstractCreator wasn't changed, I still got the stack overflow.

[2015-04-09 10:41] nmorel commented on #48
Thanks, I'll look :)

[2015-05-03 21:03] NorbertSandor opened #49 "List serialization with element type information"
I tried this use case: http://www.studytrails.com/java/json/java-jackson-Serialization-list.jsp

[code]

Is there a way to write/read type information along with the objects?
(I'm new to Jackson so probably I just don't use the correct annotations?)
Thanks for your help in advance!

[2015-05-04 04:33] nmorel commented on #49
Just a guess : can you make your subtypes public ?
I might ignore the non public one and you fallback to the default mechanism.

[2015-05-04 05:58] NorbertSandor commented on #49
That was it, after making the classes public the "@class" properties are written/read as well.
Thanks for the quick response!

[2015-05-04 05:59] #49 closed

[2015-05-25 14:42] butlnor opened #50 "@JsonIdentityInfo with custom serializer/deserializer for ID property"
I found another issue.

If using @JsonIdentityInfo, to eliminate serializing the same instances of objects, gwt-jackson doesn't work, if "id" property is a parameter of the @JsonCreator constructor. I get an error:

* com.github.nmorel.gwtjackson.client.exception.JsonDeserializationException: java.lang.NullPointerException
	* at com.github.nmorel.gwtjackson.client.JsonDeserializationContext.traceE

[2015-05-25 15:24] butlnor commented on #50
I am apologizing, the problem was in our Identifier, which didn't have "equals" method properly working. Closing this non-issue. Sorry.

[2015-05-25 16:35] butlnor commented on #50
I rewrote the issue text, as previously I haven't yet found the exact problem.

[2015-05-28 11:36] butlnor commented on #50
Any estimates when this might get fixed? We are working on a big enterprise project, that has to be deployed soon, but some of our JSONs contain cyclical references...

[2015-05-28 22:08] nmorel commented on #50
I'll take a look this week-end. Sorry for the delay but I haven't much free time currently.

For cyclic reference, did you take a look at @JsonBackReference and @JsonManagedReference ?

As a workaround, can't you use the default constructor with the field private and annotation on it ? Or your fields are private ?

[2015-05-29 09:47] butlnor commented on #50
Thanks a lot.

Currently it's difficult to make overrides in our code, as those base classes are parts of the core, which is used in many different projects by many different developers. And those base classes have the ID in the constructors, as they require ID to be immutable. So even the extended classes must provide such ID via the constructors.

I haven't used @JsonBack/ManagedReference. On th

[2015-06-01 20:44] nmorel commented on #50
It's longer than I thought to fix the issue.
I'm able to read the property but it is not enough. I don't save the instance inside the context as I don't find the property.

[2015-07-01 12:54] crevete opened #52 "Update Jackson dependency to 2.5.4"

[2015-07-19 13:28] BenDol commented on #28
Are you able to test this with the super class?

[2015-07-19 13:53] nmorel commented on #28
Still works for me with the super class

[code]

The output :

[code]

[2015-07-28 10:42] butlnor opened #54 "should not process classes with @JsonIgnoreType"
When using Object or unbounded <?> in some serializable class, gwt-jackson will try to process all the classes in the class path, as every class matches Object or <?>. This can lead to many problems.

We already talked about the case of the class, parameterized with itself, like "class A<T extends A>". However, such classes were found to cause stack overflow, so we rewrote such classes to be simpl

[2015-07-28 13:09] nmorel commented on #54
To reproduce, I just need a class `class A<T extends A>` annotated with `@JsonIgnoreType` and a second class having class A in a field ?

I'm not sure what you can do. I normally don't parse children of Objet unless they are explicitly whitelisted. Which version do you use ? I had a bug on Serializable class which is fixed in the current snapshot.

[2015-07-28 15:28] butlnor commented on #54
Yes, we have different self-parameterized classes, but also java's Enum can be listed as a cause of stack overflow, as Enum is in fact Enum<E extends Enum<E>>.

We have tried to use custom serializers for those unbounded generic classes (like Abc<T>), but it seems that gwt-jackson first analyzes the class hierarchy, before starting to generate the mappers and using custom serializers.

I have put

[2015-07-28 15:30] butlnor commented on #54
The annotation @JsonIgnoreType is not even necessary to reproduce the problem. I just think that gwt-jackson should stop processing the class hierarchy when it finds a class, annotated with @JsonIgnoreType.

[2015-07-28 15:32] butlnor commented on #54
I am using the latest official version, 0.9.0.

[2015-07-28 15:34] butlnor commented on #54
Example:

[2015-07-28 17:27] nmorel commented on #54
What hierarchy do you have on your self-parameterized classes ?

I can reproduce the stackoverflow with :
[code]

But if I had the `@JsonIgnoreType`, the error disappear.

[2015-07-28 17:34] nmorel commented on #54
Managed to reproduce it with a supertype :
[code]

To (de)serialize `Tutu`, I parse all its children to create deserializer. I guess I don't filter out type annotated with @JsonIgnoreType.

[2015-07-28 18:17] nmorel commented on #54
It should be fixed, at least the case I was able to reproduce. Can you test the snapshot ?

[2015-07-29 08:45] butlnor commented on #54
For Tata, you don't even need to extend Tutu. Just the mere fact that self-referencing Tata is in the classpath, is enough to be somehow found, causing the stack overflow. The problem with the stack overflow itself was already mentioned in another issue, here the issue is that completely unreferenced classes are processed.

I am not sure if completely unused classes are also processed, but I can g

[2015-07-29 09:18] butlnor commented on #54
Have tried with the latest master revision, but it's the same stack overflow. The stack trace is completely the same as in issue #48.

I might help if there would be some additional optional setting (in .gwt.xml), to limit the classpaths or packages where to search for the classes. Like gwtJacksonClasspaths="com.xxx.yyy;com.xxx.zzz".

[2015-07-29 09:31] nmorel commented on #54
You have the stack overflow even with the self-referencing types annotated with `@JsonIgnoreType` ?

I still have the stack overflow but only when the @JsonIgnoreType is not set in my test case.

[2015-07-29 09:35] butlnor commented on #54
It crashes when encountering Enum<E extends Enum<E>>, which I cannot annotate, since it's part of JRE. But will try with a mixin for Enum.

[2015-07-29 09:44] butlnor commented on #54
No, registering a mixin with @JsonIgnoreType for Enum doesn't help. Still stack overflow.

	@JsonIgnoreType
	private static class EnumMixIn {
	}
	...
	addMixInAnnotations(Enum.class, EnumMixIn.class);

[2015-07-29 10:00] butlnor commented on #54
However, with the snapshot, the classes directly annotated with @JsonIgnoreType _are_ ignored, thanks.

[2015-07-29 11:26] butlnor commented on #54
The problem with Enum was, that many UI-only classes were parameterized with Enum, like EnumListBox<T extends Enum<?>>.
When I annotated all those problematic classes with @JsonIgnoreType, they were ignored, and the unit test succeeded. No more stack overflow.

But annotating self-parameterized interfaces doesn't work, I had to annotate all the implemented classes.

However, annotating UI classes

[2015-08-08 16:00] BenDol opened #55 "A question about the creation of Beans"
I noticed that currently beans are created via 'new' keyword, my question is can we configure an object type to invoke a GWT.create creation? I'm not too well versed with GWT generators but I want my objects to automatically call this when created from the server, since they need to be deferred and rebound with another generator.

Is this possible or even logical? Thanks!

[2015-08-10 07:12] nmorel commented on #55
You can use a @JsonCreator annotation on a static method and call GWT.create yourself.
Something like this :

[code]

[2015-08-10 07:20] BenDol commented on #55
Thanks for the reply! Will test it out now :+1:

[2015-08-10 10:17] BenDol commented on #55
This tries to call on the server too. Is there a way to stop it from calling it on the server?

[2015-08-10 10:22] BenDol commented on #55
So I just changed it to:
[code]
and it works perfectly! Thanks @nmorel you're awesome hah

[2015-08-10 10:22] #55 closed

[2015-08-10 10:23] BenDol commented on #55
I wonder if there's a global way to do this for the client side?

[2015-08-10 11:49] nmorel commented on #55
No global way currently, sorry

[2015-08-14 18:57] lisboa opened #57 "Add suppor to @JsonDeserialize(as=MyImpl.class)"
Hello Nicolas,
You can give a direction of how to include the annotation @JsonDeserialize(as=MyImpl.class) ?

@JsonTypeInfo has some limitations. One is the bi-directional link between interface and implementation. Besides, In some cases, the server and client should only share interfaces. For example, the server can be a heavy implementation of the interface while the client is a lightweight cont

[2015-08-14 19:56] bauna commented on #41
I have made some changes to make it compile with java8 but not ready to be merged:
https://github.com/bauna/gwt-jackson/tree/gwt280

[2015-08-15 19:24] hellofornow opened #58 "Cannot instantiate the custom serializer/deserializer"
I'm trying to create a custom deserializer (for Enum.class).

I have followed the steps in the wiki article, however any custom serializer/deserializer I try and register throws a similar unable to instantiate error:

[INFO]          Invoking generator com.github.nmorel.gwtjackson.rebind.ObjectMapperGenerator
[INFO]             [WARN] Cannot instantiate the custom serializer/deserializer com.githu

[2015-08-15 21:39] nmorel commented on #58
You tried to override the only type you cannot :)

If you look at `com.github.nmorel.gwtjackson.rebind.DefaultConfiguration`, `Enum` is the only commented type!

Since Enum is parameterized, I'm looking for a constructor or static method taking a `JsonDeserializer<E>` like `ListJsonDeserializer` for example. Since enum requires a `Class<E>` and not a `JsonDeserializer<E>`, there is no suitable con

[2015-08-16 07:58] #52 closed

[2015-08-16 19:44] #58 closed

[2015-08-19 06:39] nmorel commented on #57
I will look at it next week, I won't have time this one, sorry :(

In the meantime, if your problem is to use a different implementation, you could use @JsonTypeInfo with `Id.NAME` and with mixin register a different implementation to the name in client and server.

Or use a completely different root POJO between client and server.

[2015-08-19 06:56] nmorel commented on #54
It's odd it didn't work on interface, I'm normally looking for annotations on all hierarchy.
I'll look next week when I have more spare time.

[2015-08-21 11:14] lisboa commented on #57
Hi  Nicolas, this is great.
Thanks!

[2015-10-24 08:59] nmorel commented on #50
A bit late now but it should work.

[2015-10-24 08:59] #50 closed

[2015-10-24 10:37] nmorel commented on #41
I made a few tweaks around cast. With last snapshot of gwt and guava, I have no issues on compilation and tests.

[2015-10-24 15:04] nmorel commented on #57
With 2 month late, I finally look at it.
`as`, `keyAs` and `contentAs` are supported on fields and methods (not class or constructor parameters).
To use it, you have to add jackson-databind dependency in your GWT classpath (should already be the case if you are using the annotation).

[2015-10-24 15:04] #57 closed

[2015-10-24 15:05] #9 closed

[2015-10-24 15:06] nmorel commented on #9
A basic benchmark is present in the example comparing restygwt to gwtjackson. It's probably not perfect but I won't improve it.

[2015-11-17 09:05] madbrain opened #62 "Error compiling generated ObjectMapper with Java7"
Modification in version 0.10.0 generate ObjectMapper for Enum which can't be compiled with Java7

[code]

I found a workaround by overriding the default serializer for Enum and changing the `getInstance` method to return a simpler type :
[code]

Hope this would help.

[2015-11-17 09:19] nmorel commented on #62
Thanks, I'll take a look :)

[2015-11-21 13:47] nmorel commented on #62
I couldn't reproduce but I applied your fix and saw no difference in my tests.
A version `0.10.1-SNAPSHOT` should be available soon with it.

[2015-11-21 23:13] madbrain commented on #62
Sorry, I should have check the master branch, the modification you made in commit dda64ac288a7590f4b8d6cc2fc9a1bdf942409c6 to `ObjectMapperCreator` already fixed the problem, use of wildcard in generic parameter seems to please Java7 compiler.

You may however consider to add the following test:
[code]
as it was failing before that commit.

[2015-11-22 08:27] nmorel commented on #62
Thanks for the test! I added it and rollback the previous fix.
I'm going to make a new release (0.11.0).

[2015-11-22 08:51] #62 closed

[2015-11-26 18:03] bauna commented on #41
It works except for one guava class: TreeMultisetJsonDeserializer (I think that the issue is because it requires that the generic T must be Comparable)
[code]

[2015-12-04 09:54] nmorel commented on #48
Just fixed an other SOE in the resolution of the TypeName when using `T extends Comparable<T>`.
But there is still the problem with self parameterized classes I think.

[2015-12-04 09:55] nmorel commented on #41
The deserializers no longer require Comparable.

[2016-01-11 15:17] seamusmac opened #63 "GWT 3.0 APT generation"
What the thoughts on creating a branch for GWT 3.0. That uses APT instead of the gwt generators to do the code generation?

[2016-01-11 16:19] nmorel commented on #63
That's something I would like to do but I'm not sure I will have the time for it.
There is a lot of work but it should be possible.
Some of the code can be reused (client package and tests) but most of the rebind package must be rewritten though, probably from scratch because of the extensive use of the oracle.
But I think some of the functionalities will be hard to keep.

The REST part should be

[2016-01-19 16:40] yissachar opened #64 "JsonTypeInfo cannot be deserialized"
I have the following POJOS:

Message.java

[code]

Data.java

[code]

My expectation is that I can use my Data class to store any POJO and it will be deserialized correctly because of JsonTypeInfo annotation. When I use Jackson this works as expected:

[code]

But when using GWT-Jackson to do the same thing I receive an exception:

[code]

[2016-01-19 17:11] nmorel commented on #64
Try to [whitelist](https://github.com/nmorel/gwt-jackson/wiki/Type-support#object-and-serializable-support) the items.

[2016-01-19 17:32] yissachar commented on #64
That doesn't seem to help:

[code]

And added to gwt.xml as:

`<extend-configuration-property name="gwtjackson.configuration.extension"
                                   value="com.foo.CustomJacksonConfig"/>`

[2016-01-19 17:47] nmorel commented on #64
And if you put the full path ?
[code]

[2016-01-19 17:53] nmorel commented on #64
I use [RegexFilter](http://www.gwtproject.org/javadoc/latest/com/google/gwt/util/regexfilter/RegexFilter.html) internally.
There is a few examples [here](https://code.google.com/p/google-web-toolkit/issues/detail?id=4438).

[2016-01-19 18:14] yissachar commented on #64
Sorry, the one I posted before (`whitelist("com\\.foo\\.Message");`) actually works. Something in my build was caching incorrectly and not picking up the changes. Once I cleaned it up properly and started from scratch it worked. Thanks!

[2016-01-19 18:14] #64 closed

[2016-01-20 15:40] satiagomunez opened #65 "JSON de serialization issue on GWT RPC calls"
For the rest calls in GWT, POJO's was annotated as below
[code]
and child as
[code]
and in the JSON response in client, we actually get the @type property and also the child fields respectively, but the when we do getClass it returns Parent.class and not the child classes.

Can you help here.

[2016-01-21 08:08] nmorel commented on #65
If you add a property on Child1, it is present in the JSON response but the deserialization ignores it and creates a Parent ?

Just by watching the 2 class you gave, I don't know where is the problem. The `@JsonTypeInfo` is not needed on Child1 but it should not be the problem.

Can you give me an example project ? You can use one of the examples of this project.

[2016-01-21 17:01] satiagomunez commented on #65
If you add a property on Child1, it is present in the JSON response but the deserialization ignores it and creates a Parent ?
Yes!

As I see its done by the org.fusesource.restygwt.client.AbstractRequestCallback#parseResult . But i dont find the implementation for this method.

[2016-01-21 17:30] nmorel commented on #65
Oh wait, you are using RestyGWT ? :)
They don't use gwt-jackson. They have their own implementation.

[2016-01-28 21:49] confile opened #66 "Unable to deserialize response. An unexpected error occurred."
I tried to deserialize the following DTO:

[code]

The dto contains an enum type ``MessageType``. How can I use this type for deserialization?

[2016-01-29 08:05] nmorel commented on #66
Can you give me the definition of `MessageType` and `BaseEntity` please ?
And you should have more informations in the logs.

[2016-01-29 08:06] confile commented on #66
Sure:

[code]

[2016-02-21 14:23] #65 closed

[2016-02-21 14:24] nmorel commented on #66
Did you find a solution ?
You didn't give the source of BaseEntity and the logs.

[2016-02-21 14:26] nmorel commented on #63
A json parser using annotation processor : https://github.com/Instagram/ig-json-parser
Maybe we can reuse some of the stuff there.

[2016-02-24 19:29] pjlaird opened #67 "Add Support for @JsonDeserialize"
I have started to use AutoValue (https://github.com/google/auto/tree/master/value) and would like to use the offered builder pattern. As far as I can tell this requires supporting the @JsonDeserialize annotation. Can this be added in?

[code]

Thanks for all the work on the library!

[2016-02-26 03:30] confile commented on #66
No I did not find a solution. Do you have an example how it is done?

[2016-02-26 05:48] nmorel commented on #66
To deserialize a DTO with an enum ?
[This one](https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/test/java/com/github/nmorel/gwtjackson/client/mapper/SimpleBeanObjectReaderTest.java)
Paste the full log, maybe I can find what's the problem.

[2016-02-26 05:51] nmorel commented on #67
I'll try but I haven't much time to dedicate to this project currently :/
Can you please post the result of the auto generation to use it in my tests ?

[2016-02-26 20:48] pjlaird commented on #67
No worries, I can sympathize. I poked my nose through the source seeing if I could add it myself but got a little overwhelmed. I managed to trace how a class gets generated but didn't have time to figure out how to add in support for a new annotation. Let me know if you need anything else. Thanks!

This is the class that AutoValue generates:
[code]

[2016-02-27 21:29] nmorel commented on #67
Can you try the `0.11.2-SNAPSHOT` please ?

I added a simple support for it. To build a class with a builder, I create an AbstractBeanJsonDeserializer for the "Value" class and also for the builder class. Since you put the annotation JsonProperty on the builder methods, it can be deserialized like any other class.
The `InstanceBuilder` for the "Value" deserializer creates and fill the builder and

[2016-03-02 08:10] nmorel commented on #67
Good :)
I'll wait a bit and release a version.

[2016-03-04 09:43] afdia commented on #63
https://github.com/bluelinelabs/LoganSquare is another apt based JSON mapper which may be useful when implementing this feature

[2016-03-08 23:15] crevete opened #68 "Update Jackson dependency to 2.7.2"

[2016-03-13 11:16] #67 closed

[2016-03-13 11:16] #68 closed

[2016-03-18 16:29] salashnik opened #69 "Add @JsonSerialize support"
like ```@JsonDeserialize``` required support for ```as```,  ```keyAs```, ```contentAs```

[2016-03-24 14:19] dnouls commented on #64
Just wondering, why does gwt-jackson not automatically scan the compilation classpath for all classes extending from the given class and generate the whitelist from that ? Sure it impacts performance during compilation but the time I have lost hunting down all these small things in a large project using gwt-jackson is just more expensive.

[2016-03-24 23:44] nmorel commented on #64
It scans all classes already except for Object and Serializable because, as you said, it impact the compilation time, the size of the generated JS and potentially the runtime performance too.
But feel free to whitelist everything if you prefer :) I just don't think that's a good default behaviour.

[2016-03-25 09:12] dnouls opened #70 "Add support for auto generating a whitelist for polymorphic subtypes."
I am trying out different gwt rest APIs and they all seem to be incomplete. gwt-jackson seems the most complete but there is one thing missing:
A possibility to automate the generation of the whitelist of polymorphic objects.

GWT-resty support this by using a RestyJsonTypeIdResolver that can be associated with a custom jackson TypeIdResolver. This extra interface can either be directly implemente

[2016-03-25 16:31] dnouls commented on #64
You mean that you are generating serializers for alle possible classes ? or only those that are subclasses of classes that were annotated with the JsonTypeInfo ? I moved my app over to use GWTP (which uses gwt-jackson) and it seems to work fine. Really great work!

[2016-03-25 20:30] nmorel commented on #64
Only the subclasses of classes used in (de)serialized property yes. For serialization, I generate for all subclasses even if not annotated.
The only exception is Object and Serializable.

[2016-03-25 20:56] nmorel commented on #70
I answered in https://github.com/nmorel/gwt-jackson/issues/64#issuecomment-201353573.
Can we close this ?

[2016-03-26 07:08] dnouls commented on #70
yes you may close it. The answer is clear and sufficient for me.

[2016-03-26 07:08] #70 closed

[2016-03-26 19:46] christiangoudreau commented on #63
Support for GWT 3.0 is on it's way. Everything is now using annotation processors on our end. Next step will be to make sure that the libraries we use will support it :D

Still no time to do it @nmorel ?

[2016-03-27 10:37] nmorel commented on #63
And GWT 3.0 is ? Any ETA ?
From the outside, I don't see much movement. The google group contributor has no real news for a while and the 2.8 is still in beta 1.

All your current codebase on master branch is using annotation processor ?
You were using gin heavily. They are also supporting GWT 3 or you are moving to dagger ?

I'm a noob in annotation processor but I can find some time to init a br

[2016-03-27 15:12] christiangoudreau commented on #63
From the outside, it may seems like it, but it is mostly because they're putting all efforts on the new compiler.

We're moving to Dagger indeed with GWTP 2.0.

We've made a lot great things with APT in GWTP, Christopher will soon release a blog article about it if you're interested :D

[2016-04-05 15:38] dnouls opened #72 "Deserialising back references does not work properly."
See the pull request:
[(https://github.com/nmorel/gwt-jackson/pull/71)]

This contains a GWT test case that uses gwt-jackson and an identical regular testcase that uses jackson.
With jackson this works, with gwt-jackson it fails.

[2016-04-05 15:51] nmorel commented on #72
Thanks for the test case, I'll look at it.

[2016-04-21 09:10] mkristian opened #73 "would like a add an restygwt example"
this is kind of related to #63 or the next release of https://github.com/resty-gwt/resty-gwt will allow to use gwt-jackson as serializer/deserializier

so I wonder if it is OK to promote restygwt as "framework" which uses gwt-jackson via the readme including example.

would be happy to provide a PR for the issue if I get positive feedback

[2016-04-21 12:04] nmorel commented on #73
Sure, it's fine :)
If you have an other term than "framework", you can also change it :p

For #63, I need to find some time to make a POC at least. On RestyGWT, you are keeping your serialization mechanism ? Are you planning to make your own annotation processor or move completely to gwt-jackson ?

[2016-04-21 12:15] mkristian commented on #73
the plan is to move to gwt-jackson as one and only serialization mechanism, after verifying that using gwt-jackson has no regressions on the current userbase of restygwt. probably this means to take the restygwt serialization/deserialization testcases and move them over to gwt-jackson, i.e. produce some patches to add the missing pieces.

[2016-04-26 08:23] julaudo opened #75 "Nested parametrized maps not serialized/deserialized"
Hello M. Morel

Test case :
- Owner contains **List<Parent<?>> parents**
- Parent contains **Map<T, T> typed**, **Map untyped** and **Child<T> child**
- Child contains **Map<T, T> typed** and **Map untyped**

owner.parents.typed, owner.parents.untyped and owner.parents.child.untyped are serialized/deserialized
owner.parents.child.typed is not serialized/deserialized

See the pull request:
[Pull re

[2016-05-05 21:25] francoisregis opened #76 "JsonDeserialize annotation in super area is missing methods"
The annotation `com.github.nmorel.gwtjackson.super.com.fasterxml.jackson.databind.annotation.JsonDeserialize`
should have the same signature as the original annotation it supersedes.

Even if some of those methods are not (yet) supported by this framework they should at least be gracefully ignored at GWT compilation time.
For example we are using a custom serializer on the backend and we are using

[2016-05-10 07:15] nmorel commented on #76
A snapshot should be available with your fix.
Thanks for the PR!

[2016-05-10 07:15] #76 closed

[2016-05-22 04:38] aliakhtar opened #78 "Line 203: No source code is available for type com.fasterxml.jackson.annotation.JacksonAnnotationValue<A>; did you forget to inherit a required module?"
This is my first time using this library.

- Inherited the module in gwt.xml

- Created a pojo with a single String field, and a getter / setter for it. No annotations.

- Created an interface `MyProjoMapper` which extends from `com.github.nmorel.gwtjackson.client.ObjectMapper<MyPojo>`

- Created it using GWT.create(MyPojoMapper.class), and then tried `String json = mapper.write(pojo)`

When I att

[2016-05-22 08:49] nmorel commented on #78
Which version of GWT are you using ?
Do you include the jar and source jar of jackson annotation ?
Which version of jackson ?

You should remove the line
[code]

It's already included in GwtJackson. Doesn't RestyGWT include gwt-jackson now ?

[2016-05-25 09:19] christianbauer opened #79 "IllegalArgumentException when using @JsonMixIns"
Trying to enable field-only serialization on this class (note the "illegal" isBar() getter name, JavaBean says it should be getBar() for a bean property, so must use field access):

[code]

This is the mixin:

[code]

And the mapper:

[code]

Error:

[code]

Workaround, extend `AbstractConfiguration`:

[code]

[2016-05-25 09:24] christianbauer commented on #79
Actually, none of this works for me. The mixin is not applied.

[2016-05-25 10:12] christianbauer commented on #79
This should fail the build with an error instead of a warning message:

[code]

[2016-05-25 10:22] christianbauer commented on #79
The problems I'm seeing are most likely all related to incremental compilation in SDM. Unfortunately this is the default in GWT 2.8.0 and disabling it directly is not supported by the Gradle GWT plugin. Workaround:

[code]

[2016-05-28 08:41] nmorel commented on #79
First time I try the SDM in 2.8.0.
I didn't reproduce the exception but had issues to get the incremental compiler see my changes.

I added a new MyMixin().toString() in my entry point and the incremental compile work. Maybe I need to reference somewhere in my generator all the classes used this way.

If you take the hello world example, I made this changes :
[code]

[code]

Hello.java :
[code]

e

[2016-05-29 08:49] #66 closed

[2016-05-29 09:34] nmorel commented on #72
I just looked at it. The problem come from your constructor annotated with `@JsonCreator` on `Owner`.

To create an `Owner` entity, I first resolve the constructor parameters. In this case, the children's list.
Since the owner is not yet created, I cannot find the owner when I resolve the children.

To solve the issue, I have to separate the instantiation and the properties resolution but that's a

[2016-05-29 10:41] nmorel commented on #73
I added an example using the 2.2.0-SNAPSHOT.

You should update your [download page](https://resty-gwt.github.io/download.html) to replace the jboss repository snapshot with the sonatype one :)

[2016-05-29 10:41] #73 closed

[2016-05-29 10:49] nmorel commented on #78
I added an example using the last snapshot version of RestyGWT if you are still stucked : https://github.com/nmorel/gwt-jackson/tree/master/examples/restygwt

[2016-05-29 14:43] #75 closed

[2016-05-31 10:04] aliakhtar commented on #78
Thank you. I haven't had time to look into this project recently. Will update when I get a chance.

I was using GWT 2.8.0-beta1, and the latest version of gwt-jackson as on maven central.

I'm using it in combination with RestyGWT but it didn't seem to add gwt-jackson to the classpath.

[2016-05-31 10:48] nmorel commented on #78
RestyGWT only support it in the last snapshot, not the last stable.

[2016-06-01 12:29] crevete opened #80 "Update Jackson dependency to 2.7.4"

[2016-06-02 08:33] elthanor opened #81 "Json Arrays Parsing Question"
Can you parse json arrays with this and if yes how?
thanks in advance!
nevermind found it ! :)

[2016-06-02 08:54] #81 closed

[2016-07-11 07:06] robin1990 opened #82 "Possibility to add in serialization group feature"
Seeking for possibility to add in features for splitting partial json

public class Person {
    @Groups({Default.class, Minimal.class})
    private String firstName;
    @Groups({Default.class, Minimal.class})
    private String lastName;
    private int age;
    private String address;

    ...
}

ObjectMapper personMapper = new ObjectMapper();
String json = personMapper.writeByGroup(person, Def

[2016-07-24 03:56] kmthinkingrock opened #83 "Warning:GWT Compiler: Cannot instantiate the custom serializer/deserializer ....GwtEventTypeDeserializer. It will be ignored"
I cannot help getting this error about a custom deserializer, no matter what I do to my class, even when I make it completely empty, I still get this error. I am completely at a loss as to how to support my custom deserialization.

In case it isn't clear, the GwtEventTypeDeserializer is my custom deserializer, which I am initializing through:

    @Override
    protected void configure() {

[2016-07-24 07:29] kmthinkingrock commented on #83
I added some logging to the generator to determine the source of this problem - it's related to the generator expecting to pass a parameter for the type argument. I found the description of this behavior on the wiki confusing. I recommend some updates to this documentation and perhaps some way of better determining the signature of the static method being searched for, or enhanced warning message

[2016-07-24 07:29] #83 closed

[2016-07-24 07:30] kmthinkingrock opened #84 "Documentation for custom de/serializers is confusing for generic types / type arguments."
See issue [83](https://github.com/nmorel/gwt-jackson/issues/83) - documentation could be improved for this feature.

[2016-07-24 07:32] kmthinkingrock opened #85 "Improve warning for "unable to instantiate" message related to custom serializers."
See [issue 83](https://github.com/nmorel/gwt-jackson/issues/83) - had to sprinkle debug messages in generator to determine root cause of warning.

[2016-07-24 10:01] nmorel commented on #84
Which part is confusing ?
The one describing the static method inside (de)serializer use to instantiate the class ?

[2016-07-24 22:06] kmthinkingrock commented on #84
The sentence above. It wasn't clear to me that "the same amount of parameters" meant that the number of parameters for the static method or constructor had to match the number of type parameters used by the generic.

[2016-08-07 16:43] #78 closed

[2016-08-07 16:44] nmorel commented on #41
Seems to be working now

[2016-08-07 16:44] #41 closed

[2016-08-07 17:41] nmorel commented on #85
It's now a compile error if the configuration is incorrect and a link to the wiki page is logged

[2016-08-07 17:41] #85 closed

[2016-08-07 17:42] nmorel commented on #84
I hope it's better now :)

[2016-08-07 17:42] #84 closed

[2016-08-11 14:30] vasvir opened #88 "newbie build question"
Sorry for asking this here but I didn't find a mailing list. If there is a better place to ask please let me know.

So I don't use maven. I am using ant and eclipse and I have the following question.

1) Which packages are for the java compiler and which are for the GWT compiler.

My understanding is that src/ is for both resources/ is for GWT compiler only. Is that true? So should I exclude any j

[2016-08-17 10:56] crevete opened #89 "Compilation failure with gwt-2.8-rc1"
When I compile my project with **gwt-2.8-rc1** with https://gwt-maven-plugin.github.io/gwt-maven-plugin/, it fails with the following errors :
[code]
Then it results like this :
[code]
Do you have an idea? Is it possible to update the gwt version in gwt-jackson to support this ? As we need to use gwt-2.8. Thanks

FYI : With gwt 2.8-beta1, I've got this error :
[code]

[2016-08-17 11:57] nmorel commented on #89
Did you try the latest snapshot ?
The examples are compiled with the rc1

[2016-08-17 12:56] crevete commented on #89
@nmorel It's better: the first error disapears. But I still got the second one:
[code]
In fact, in my model class (to be serialized), I have a field with Enum array type:
[code]
In the GWT-generated JsonSerializerImpl class:
[code]

[2016-08-17 13:32] abhashemi opened #90 "gwt-jackson tries to serialize all my classes."
I used restygwt-2.2.0 with gwt-jackson-0.13.1-SNAPSHOT. I added following lines to app.gwt.xml:

    <inherits name="org.fusesource.restygwt.RestyGWT" />
    <set-property name="restygwt.encodeDecode.useGwtJackson" value="true" />
    <inherits name="com.github.nmorel.gwtjackson.GwtJackson" />
It seems that it tries to comile all my classes (widgets) and also gwt widgets. for example it throws fol

[2016-08-17 13:33] nmorel commented on #89
I'm not sure I tested enum array. I got lots of issues with the `EnumJsonSerializer.getInstance()`method and I removed most of the type check to fix them.

To bypass the error for now, you could create a custom serializer/deserializer using `MyField[].class` as type following these instructions : https://github.com/nmorel/gwt-jackson/wiki/Custom-serializers-and-deserializers

[2016-08-17 13:40] nmorel commented on #90
That's odd. By default, gwt-jackson will create (de)serializer for the type you ask, all its implementations and the type (and subtype) of its properties.

There is a special case for field using Object/Serializable or List<?>/List. gwt-jackson uses only types defined in configurations and the whitelist : https://github.com/nmorel/gwt-jackson/wiki/Type-support

[2016-08-17 13:42] crevete commented on #89
Yes, it was removed in the source code (It works fine wtth 0.13.0)
Thanks anyway, I will try to do it and give you a feedback later.

[2016-08-17 15:49] abhashemi commented on #90
Thank you for your instant help, I just set above config and i have not any configuration file, in fact i want to use gwt-jackson default configurations, in this case it must try to compile just my serializable objects, not all my client package classes like dialogBoxes and so on. are my considerations wrong?

[2016-08-17 15:58] nmorel commented on #90
The only experience I have with resty is the simple example I made here :  https://github.com/nmorel/gwt-jackson/tree/master/examples/restygwt
And the configuration is the same.

What are the classes you are trying to send/receive to/from server ?

Can you try with a simple example ? A class with one ore 2 properties.

[2016-08-17 21:24] crevete commented on #89
@nmorel The problem is: I got multiple enum array is my model, I don't think write a custom serializer for each enum array is a good idea... For me, it is a bug of gwt-jackson. I forgot to say that the compilation was done with JDK8. With JDK7 + gwt-jackson 0.13.0, it works fine.

[2016-08-19 09:58] christianbauer commented on #90
I'm seeing the same problem with 0.13.0 and no RestyGWT. Serializers and deserializers are generated for ALL my classes and of course fail compilation.

The cause is this configuration:

[code]

(I also have to restart SDM and delete the temporary files in /var/folders/vn/* every time I change this configuration class, or the change isn't detected.)

When I remove the fieldVisibility() etc. calls

[2016-08-20 11:03] abhashemi commented on #90
My problem is because of extending com.totsp.gwittir.client.beans.AbstractModelBean  ( that is used for gwt binding implementation)  in my dto.
For simulating the problem in simplest way, in  https://github.com/nmorel/gwt-jackson/tree/master/examples/restygwt example You can add a SuggestBox with a getter to GreetingRequest.java as follow:

    package com.github.nmorel.gwtjackson.hello.shared;

[2016-08-20 12:33] nmorel commented on #90
@christianbauer do you have the same error ? It fails on a GWT widget ?
Do any of the classes you are trying to (de)serialize have a private field using a widget ?
Since it only fails when you are using fields instead of getter, you should have a private field with no corresponding getter/setter that gwt-jackson does not like.

@abhashemi You can ignore those kind of properties with [@JsonIgnore](

[2016-08-25 04:16] kmthinkingrock commented on #85
Awesome!!

[2016-08-25 09:01] crevete commented on #89
@nmorel any news about this? It seems that it is just a generic issue. Thanks

[2016-08-27 09:46] nmorel commented on #89
It should work now.

I'll release a new version as soon as my CI starts working again.
In the meantime, a snapshot is available.

[2016-08-27 09:49] #89 closed

[2016-08-27 09:57] nmorel commented on #88
Not sure I understand the question. Is it to build gwt-jackson or use it ?

To use it, just add the jar and its dependencies (listed on readme) to your classpath. No exclusion for the GWT compilation. There is probably no need to include it in the javac compilation as everything in the jar is client/GWT only.

[2016-08-27 11:22] crevete commented on #89
Thanks!

[2016-08-28 09:05] filiphr opened #91 "Dates deserialization is wrong"
Recently I came about the following problem.

Imagine we have a date 14th of May 1970 and time 00:00 CET. In the Swiss Locale the Javascript date is with GMT+2. When we use the default serialization there are 2 problems:
* If we use timestamps, then java will have the wrong timezone as there was no DST in those years
* If we use the ISO format then the date is sent as 13th of May 1970 and time 22:

[2016-09-01 07:01] christianbauer commented on #90
I found my problem: One of my ObjectMapper interfaces was referencing an abstract class. This led to generation of serializers/deserializers for all subclasses, some of which were not (supposed to be) serializable. Not sure what the behavior should be for ObjectMapper<SomeAbstractClass> but it was difficult to find the root cause of the problem.

[2016-09-06 19:49] vasvir commented on #88
Sorry I just saw it.

I was trying to setup my build system (ant+ivy). Currently I am not using
source jars so I am git cloning the project.

I know it doesn't need to compile with javacc but it helps my custom build
system. GWT will build what eclipse has specified to be compiled to javacc

So the question was about *.java stuff under resources/? Are they supposed
to be compiled by GWT or are the

[2016-09-06 21:18] nmorel commented on #88
*.java class under resources are super source used by GWT compiler. It replaces the equivalent in java. No need to compile them.

[2016-09-06 21:18] nmorel commented on #88
*.java class under resources are super source used by GWT compiler. It replaces the equivalent in java. No need to compile them.

[2016-09-12 20:50] bauna commented on #91
You can try to use configuration option _useBrowserTimezone_: https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/main/java/com/github/nmorel/gwtjackson/client/JsonDeserializationContext.java#L171

You can look for examples in the gwt-jackson tests

[2016-09-13 23:34] yadavharsh opened #94 "GWT Compile Issues"
Hi,

I am trying to migrate to the gwt-maven-plugin (net.ltgt.gwt.maven).

However, with gwtjackon am not able to include the jackson annotation sources thru maven dependencies.
[code]

This used to work seamlessly with the mojos gwt plugin before by including the following dependency:

[code]

With the new maven plugin, I am adding dependencies like:
[code]

And then in my *.gwt.xml

`<inherits n

[2016-09-14 07:54] nmorel commented on #94
The problem is not the inclusion of the annotations. It sees them and fails on one.
[The source of the failing annotation](https://github.com/FasterXML/jackson-annotations/blob/master/src/main/java/com/fasterxml/jackson/annotation/JsonIgnoreProperties.java#L374)
In the subclass Value, the toString method is using String.format that does not exist in GWT.
For a workaround, you can supersource this

[2016-09-14 14:47] yadavharsh commented on #94
Yes, I did that. And the work around works fine for me now.
(Removing the reference for String.format)

Thanks a lot, gwtjackson works perfectly!

[2016-09-26 02:39] kmthinkingrock commented on #63
If there is a blog post as referenced in the previous comment, I would be interested in seeing it. Thanks

[2016-09-26 03:01] kmthinkingrock opened #95 "JsonIdentityInfo / Reference - failing to compile GWT NullPointerException"
I am getting a NullPointerException when I try to compile a project that has an ObjectMapper interface defined to support a type that contains a getter annotated with @JsonIdentityReference(alwaysAsId=true). The return of the getter is annotated with:

@JsonIdentityInfo(property = "playerIndex", generator = ObjectIdGenerators.PropertyGenerator.class, resolver = PlayerResolver.class)

It makes sens

[2016-09-29 09:30] dnouls opened #96 "Question: How can I get access to specific serializers/deserializers in a custom one"
I'm trying to implement a custom serializer/deserializer for a project specific object type that uses a generic parameter.

we have a class FilterCriteria<V> Defined like this:
`
class FilterCriteria<V> {
  String key;
  FilterOperation operation;
  List<V> parameters;
}
`
Right now the V generic parameter causes gwt-jackson to start building serializers for all Object types, and for Deserialisati

[2016-09-29 10:04] nmorel commented on #96
All the `V` are a subtype of IFilterKey ?
Can you change `FilterCriteria<V>` to `FilterCriteria<V extends IFilterKey>` ?

[2016-09-29 11:08] dnouls commented on #96
No IFilterKey has a generic parameter V. The IFilterKey is actually used in an API to make the filter parameters type safe (using a query builder API).

That is why I would like to lookup all subtypes of IFilterKey because they fill in this parameter V and based on that I have a limited list of types for V. The key in the JSON payload I can use to find back the IFilterKey subtype and with generics

[2016-09-29 11:47] nmorel commented on #96
Creating the custom deserializer should not be too hard. If you use an annotation processor or a gwt generator, you can easily build a map with the key being the type and the value, an instance of JsonDeserializer (or a class that lazily creates one).

To get a JsonDeserializer<MyType>, you can create an ObjectReader<MyType>, cast it to AbstractObjectReader and call getDeserializer : https://githu

[2016-09-29 12:46] dnouls commented on #96
Without a workaround it would make no sense for me to even try.
Would it not be possible somehow to add a new gwt-jackson annotation to FilterCriteria to indicate that we want to fine-tune the list of allowed types for V ? Maybe allow a reference to a class that will be used at compile time to find the types from the compilation classpath ?

Right now gwt-jackson just picks up the V generic parame

[2016-10-03 14:51] nmorel commented on #96
I can guide you if want to try implementing it.
To instantiate a class, you can look at the code I use for the configuration class here :
https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/main/java/com/github/nmorel/gwtjackson/rebind/RebindConfiguration.java#L258

And to use your type instead of the generic parameter V, the first method to look I think is :
https://github.com/nmore

[2016-10-07 09:04] blop opened #97 "Integer with value 0 not serialized"
It seems that field of type Integer with a zero value are not serialized.

com.github.nmorel.gwtjackson.client.ser.BaseNumberJsonSerializer.IntegerJsonSerializer threats 0 as a default value.
I understand why this can be the case for primitive type (int) but not for object Integer.

How can one differentiate between null and 0 in that case?

You should have different serializer for primitive numbe

[2016-10-07 09:12] blop commented on #97
Or better, how can we set the  JsonInclude.Include.NON_ABSENT as default for all objects, without having to add @JsonInclude on every class?

[2016-10-07 09:22] blop commented on #97
I'd add that it seems dangerous to have 0 not serialized by default.

[2016-10-07 09:27] nmorel commented on #97
Ah nice catch, you're right, it should be serialized.

Do you want to make a PR ? Just need to duplicate the serializer for each primitive value and update [DefaultConfiguration](https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/main/java/com/github/nmorel/gwtjackson/rebind/DefaultConfiguration.java)

[2016-10-07 09:33] blop commented on #97
I can do that yes

[2016-10-07 10:08] blop opened #98 "Missing default case in JsonSerializer"
In com.github.nmorel.gwtjackson.client.JsonSerializer, there is a switch() on params.getInclude().

It seems that NON_ABSENT is commented, but also that there is no default case forseen.
When using an unsupported Include type, serialization fails.

It should call by default :
`doSerialize( writer, value, ctx, params );`

[2016-10-07 10:37] nmorel commented on #97
Thanks :)

To test it, the best place is probably [JsonIncludeTester](https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/test/java/com/github/nmorel/gwtjackson/shared/annotations/JsonIncludeTester.java).

For GWT : [JsonIncludeGwtTest](https://github.com/nmorel/gwt-jackson/blob/master/gwt-jackson/src/test/java/com/github/nmorel/gwtjackson/client/annotation/JsonIncludeGwtTest.java)
F

[2016-10-17 12:33] nlight-dev opened #99 "slow decoding vs JSONParser"
I'm running a benchmark with RestyGWT hoping to get a better performance than GWT-RPC.
Currently with GWT-RPC the response payload(~600KB) is parsed in 75ms.
With RestyGWT + JSONParser in 200ms.
With RestyGWT + GwtJackson in 600ms.

Are there any ways to improve on this? Why is GwtJackson 3 times slower than JSONParser and GWT-RPC?

[2016-10-17 17:32] nmorel commented on #99
I did some benchmark a while ago and it always beat GWT-RPC. That's the main reason I kept working on this project because we switch to it for performance on a big project.
But maybe I introduced some regression into it after those tests!

Can you give more details on your procedure ?
Did you activate the [disableCastChecking](https://gwt-maven-plugin.github.io/gwt-maven-plugin/compile-mojo.html#d

[2016-10-17 18:55] ibaca commented on #99
If you are concerned about performance you can always use Ovelays/JsInterop, zero overhead 😵.

[2016-10-18 10:21] nlight-dev commented on #99
@nmorel thanks for the detailed answer.
I've tested with your suggestion, there is a small improvement but still behind GWT-RPC.

The above timings were in SuperDevMode, in production build I get with RestyGWT+GWTJackson:
* ~300 ms without your optimisations
* ~200 ms with optimisations

The procedure, on server-side I use CXF or Jersey(both similar performance) to get a 600KB JSON response.
To me

[2016-10-18 10:22] nlight-dev commented on #99
@ibaca - thanks as well for suggestion.
can Overlays/JsInterop be integrated with GWTJackson or RestyGWT with little or no overhead?

[2016-10-18 11:59] nmorel commented on #99
@nlight-dev no specific version. But since I did my benchmark between RequestFactory/GWT-RPC/REST, I added a lot of functionality and annotation's support. I wouldn't be surprised that some of this code slow down the deserialization process.

Do you use any specific Jackson annotations or just plain object ?

You are testing the whole request so it includes the serialization of the response on ser

[2016-10-18 12:59] nlight-dev commented on #99
I've used plain objects, some of them were interfaces with @JsonSubTypes annotation to expose the implementing types. The JSON response was compressed on server-side both for CXF and Jersey.

To have an idea of the server-side performance, I'm looking at Chrome DevTools/Time column. The values are very similar between GWT-RPC vs Jersey/CXF.
Also, did some profiling in the Profiles tab and most of

[2016-10-18 19:53] ibaca commented on #99
RestyGWT is a transport library, which originally includes a coding/decoding lib, but I think that now RestyGWT recommend that you use this coding/decoding lib. In the transport layer, you should use RestyGWT or other like GWT RequestBuilder or the cool [AutoREST](https://github.com/intendia-oss/autorest) 😛, AutoREST was born as a RestyGWT without encode/decode code.

So, what I means with JsInter

[2016-10-20 07:51] Martin-Wegner commented on #89
@nmorel any news on this issue?

[2016-10-20 08:27] nmorel commented on #89
I didn't release a new version yet but I should have time this week-end.

[2016-10-23 11:30] #98 closed

[2016-10-23 11:48] #97 closed

[2016-10-23 11:56] #88 closed

[2016-10-23 11:59] #94 closed

[2016-10-23 16:52] nmorel commented on #89
Version 0.14.1 released

[2016-10-24 07:40] Martin-Wegner commented on #89
@nmorel thanks!

[2016-11-24 12:59] foal commented on #79
I think I have the same issue

Just add

[code]
To my EntryPoint class and SDM compilation fails with
[code]

[2016-11-24 13:22] foal commented on #79
And yes, the "-noincremental" option works as workaround.

[2017-01-26 11:26] rakesh-roshan opened #101 "Issue in compilation"
I am using gwt-maven-plugin:2.8.0-rc2

I am getting error:

 type 'long' is not safe to access in JSNI code

The error is in the generated code.

[2017-01-26 11:34] rakesh-roshan commented on #101
The error occurs when I use annotation. If I remove the annotation the compilation succeeds.

@JsonAutoDetect(fieldVisibility = Visibility.ANY, getterVisibility = Visibility.NONE,
        setterVisibility = Visibility.NONE, creatorVisibility = Visibility.NONE)

[2017-01-31 16:13] Hadesskywalker opened #102 "JsonIgnore seems to be ignored"
Hi,

I am not sure the following should happen as it does?
I hab a problem, where some fields in my class did not appear in the json, as if they were completely ignored. It seems that JsonIgnore has priority over JsonProperty.

Im using gwt-jackson 0.14.1 and jackson 2.8.2 (but seems to happen with older versions too)

The method sequence seems to matter.

## Case 0:
works
[code]

## Case 1:
inter

[2017-01-31 16:32] nmorel commented on #102
Case 1 & 2 should work I think. Not sure about case 3.
I'll have to test those with Jackson to compare.
Thanks for the detailed test cases :)

[2017-01-31 16:38] nmorel commented on #101
With the annotation, you allow private & protected field to be access.
In pure java, you can't access those fields so I use JSNI to access them (no restriction in Javascript).

About the error itself on long, not sure I can do something.

[2017-02-01 11:09] Hadesskywalker commented on #102
I tinkered a little bit further today, it seems to be based on the existing setter method.

String GET_X();
boolean IS_X();
SET_X(boolean);

This can't be compiled in GWT.
```[ERROR] Line 354: The method setUsedForAllLanguages(boolean) in the type ActivityImage is not applicable for the arguments (String)```

From my first cases, **Case 0** works but **Case 1** seems (to me) more intuitive.

Strin

[2017-02-02 10:35] MarcoCucchi opened #103 "ClassCastException on Microsoft Edge"
Hi guys, I have a problem during the
serialization phase of a bean with Microsoft Edge browser.

It returns a java.lang.ClassCastException, can you
please fix it? (it works properly on <= IE10 version)

Thanks.

Marco

[2017-02-09 07:43] #103 closed

[2017-02-09 07:43] MarcoCucchi commented on #103
my fault, it was an IE10 JS problem.

[2017-02-13 17:23] elthanor opened #104 "GWT 2.8 Compilation Error"
First of all thank you for this great plugin.

I am trying to upgrade to GWT 2.8 from 2.7. Also i have updated gwt-jackson to 14.1 from 13.0.
Below are the compilation errors that i am struggling to tackle and my pom

http://127.0.0.1:8888/Adminlab.html
GET /recompile/Adminlab
   Job com.foobot.adminlab.Adminlab_1_0
      starting job: com.foobot.adminlab.Adminlab_1_0
      binding: user.agent=saf

[2017-02-13 17:27] elthanor commented on #104
My XML config file

`<?xml version="1.0" encoding="UTF-8"?>
<module rename-to='Adminlab'>

  <inherits name='com.google.gwt.user.User'/>
  <inherits name="com.google.gwt.core.Core"/>
  <inherits name="com.google.gwt.user.History"/>
  <inherits name="com.google.gwt.i18n.I18N"/>

  <inherits name='com.google.gwt.user.theme.clean.Clean' />

  <inherits name="com.smartgwt.SmartGwtNoScript"/>
  <inheri

[2017-02-14 08:43] nmorel commented on #104
I see you are using your own version of jackson. Can you try to include the source of jackson-annotations ?
[code]

The principal errors are :
[code]
and
[code]

Maybe there is some kind of incompatiblity between the jackson source used by gwt-jackson (v2.8.4)  and the jar you are using

[2017-02-14 08:44] nmorel commented on #104
If that doesn't fix the problem, try to remove your jackson dependency and use the ones included in gwt-jackson.

[2017-02-14 08:54] elthanor commented on #104
sorry i was editing the file a some stuff and some things were missing. The below is from the original pom which worked fine on GWT 2.7

<jackson.version>2.7.5</jackson.version>

[2017-02-14 13:04] elthanor commented on #104
changed it to 2.7.2 and now it works fine. thank you

[2017-02-14 13:04] #104 closed

[2017-02-24 20:28] cyberluke opened #105 "Java Out Of Heap space"
My project worked fine until I add these lines:

`public static interface RequestMapper extends ObjectMapper<JSONDSRequest> {}`

`RequestMapper mapper = GWT.create( RequestMapper.class );

		JSONDSRequest r = new JSONDSRequest();
		r.records = request.getExportData();

        String json = mapper.write( r );

        GWT.log( json ); // > {"firstName":"John","lastName":"Doe"}`

`import com.smartg

[2017-03-08 21:17] richturner opened #106 "Deserializing JavaScriptObject that contains null property value throws dangling name exception"
I have a JSON payload that represents an Asset object with an attributes property that is of type JsonObject (GWT elemental) and I've created a custom deserializer for this as follows:

[code]

The outer Asset class is just using the default generated BeanDeserializer.

Problem is if this inner JsonObject contains a property with a null value then an exception is thrown stating "dangling name"

Ex

[2017-03-08 21:21] richturner commented on #106
I was trying to find a nice way of using my own JsonReader to work around this issue but I cannot figure out a way of doing this (comments at the top of NonBufferedJsonReader suggest a custom JsonReader is possible).

[2017-03-09 08:28] nmorel commented on #106
It was probably possible on a past release but now, it seems you can't change it.
The only way would be to override the context but its only constructor is private.

Can you make a PR to add your condition ? And add a test please :)
You juste have to update AbstractJsonReaderTest.testNextJavaScriptObjectNoRootObject for example.

[2017-03-09 14:40] #106 closed

[2017-03-09 18:51] nmorel commented on #106
I released a version 0.14.2 with your correction.
Thanks :)

[2017-03-09 20:20] richturner commented on #106
Brilliant! Thanks for the quick turn around

[2017-03-19 11:51] richturner opened #108 "JsonReaders nextValue incorrectly escapes decimal numbers"
Example JSON:

[code]

Call the following on the number token:

```reader.nextValue()```

Returns following string:

```"123.134"```

Should return following string:

```123.134```

[2017-04-25 08:35] ge0ffrey opened #110 "Custom (de)serializer isn't picked upt because of "Cannot find the type denoted by the class""
While trying to plug in a customer serializer and deserializer, during the gwt compilation I get this error, although the java compilation works and those 2 classes (LocalDateTimeJsonSerializer etc) exist:

[code]

**Any idea what could be causing this?** If there's a common cause, it would be nice to improve the error message with that suggestion.

FWIW, here's my source code:
  https://github.co

[2017-04-25 08:59] nmorel commented on #110
Does the rest of the module works ?
The position of the module.gwt.xml file seems odd and the `<source path=""/>` + `<super-source path="emulate" />` too.

[2017-04-25 09:10] ge0ffrey commented on #110
Yes, the rest of the module works - I can deploy etc, it's only when a LocalDateTime is deserialized it errors out.

That gwt.xml position is due to the tbroyer plugin (which will replace the mojo gwt-maven-plugin).
See https://tbroyer.github.io/gwt-maven-plugin/ (and mojo plugin readme which notes that it will be replaced).

Source path is "", but I refactored to client (did all the adjustments)

[2017-04-25 09:42] nmorel commented on #110
Can you try to make a custom deserializer for Integer for example ?
If it works, it's probably a problem on your super sources

[2017-04-28 07:03] ge0ffrey commented on #110
Looks like you're right.
Using a custom JsonSerializer copy pasted from yours compiles without warnings:

    protected void configure() {
        primitiveType( int.class ).serializer( MyIntegerJsonSerializer.class ).deserializer( MyIntegerJsonDeserializer.class );
//        type(LocalDateTime.class).serializer(LocalDateTimeJsonSerializer.class).deserializer(LocalDateTimeJsonDeserializer.class);

[2017-04-28 07:32] ge0ffrey commented on #110
It's due to an import in that class:

[code]

which causes

[code]

Notice that that import class DateTimeFormatter isn't used in a generic type or anything for LocalDateTimeJsonDeserializer, so that warning is misleading. **Is there any way we could get the warning message to include the word "DateTimeFormatter"?**

Looking at the code where it logs that warning, it doesn't have the real error, i

[2017-04-28 07:35] nmorel commented on #110
I don't think that's possible. The findType doesn't even throw an exception. There is no error to parse.

[2017-04-28 07:52] ge0ffrey commented on #110
I've asked on StackOverflow:
http://stackoverflow.com/questions/43674908/gwt-rebinder-typeoracle-gettypefoo-foo-returns-null-how-to-get-the-real-er

Closing this issue meanwhile - I can reopen if there's an answer.

[2017-04-28 07:52] #110 closed

[2017-04-28 13:15] ge0ffrey commented on #110
PR to improve the error message: https://github.com/nmorel/gwt-jackson/pull/111

[2017-05-14 12:59] AlbrechtStriffler opened #112 "Serialization fails because PropertyParser gets confused by getter methods with one parameter"
Hey,
I'm using GWTP with gwtp-dispatch-rest version 1.6, which uses gwt-jackson version 0.14.1.
Gwt-jackson is used for the DTO serialization.

Basically, I had the following DTO:
[code]

Gwt-jackson did not automatically generate deserializers for `List<NestedDto> nestedDtos`, because the PropertyParser seemingly got confused when parsing the methods of MyDto.
In the current git master (0.14.3-SN

[2017-05-14 17:31] nmorel commented on #112
Thanks for the detailed report :)

I added a small hack for this case.
It requires a lot more work to handle all the cases and I won't have time for it right now.

[2017-05-15 15:03] AlbrechtStriffler commented on #112
Great, thank you!

[2017-05-22 08:11] ge0ffrey opened #113 "Support for JacksonJsonSerializer and JacksonJsonDeserializer (@JsonSerialize and @JsonDeserialize)"
We have a dozen `Score` classes in [OptaPlanner](https://www.optaplanner.org/) (= widely open source Constraint Solver in java), which are used by my users, both in their backend and their frontend. For example, `HardSoftScore` implements `Score`.
We maintain a set of Jackson serializers and deserializers, which are used like this, for example:

[code]

**Gwtjackson doesn't pick up those 2 annotat

[2017-05-23 12:09] nmorel commented on #113
I made some updates to at least support the using parameter of those annotations. But for now, the entire serializer/deserializer has to be super sourced.

To reuse the jackson (de)serializer, it requires super source of all the jackson class as you said and mapping between

- `JsonParser`<>`JsonReader`,
- `JsonGenerator`<>`JsonWriter`
- `DeserializationContext`<>`JsonDeserializationContext` + `Js

[2017-06-08 19:57] LennartH commented on #101
You could annotate the generated JSNI methods with `UnsafeNativeLong` to that the compiler ignores it. See [GWT JSNI documentation](http://www.gwtproject.org/doc/latest/DevGuideCodingBasicsJSNI.html#important). But this could result in _incorrect_ values, as described in [this stackoverflow question](https://stackoverflow.com/questions/27426869/gwt-2-7-return-long-from-jsni-best-practice).

[2017-06-11 14:26] LennartH opened #114 "Support @JsonTypeInfo.As.EXISTING_PROPERTY"
The [wiki](https://github.com/nmorel/gwt-jackson/wiki/Jackson-annotations-support) says that only `As.EXTERNAL_PROPERTY` and `Is.CUSTOM` aren't supported. But `As.EXISTING_PROPERTY` also throws an error (and isn't handled in the switch of `AbstractBeanJsonDeserializer.doDeserialize`).

[2017-06-11 15:08] LennartH opened #115 "Support that multiple keys are mapped to the same class via @JsonSubTypes.Type"
The following annotation example would result in an error that the type for `Simple2` couldn't be found.
[code]

I think the problem is the way the concrete `TypeDeserializationInfo` is generated. The resulting method would look like this, ignoring the second type key for `SimpleImplementation`:
[code]

Could it be, that the generator uses the concrete implementations of `Interface` as *loop condi

[2017-06-20 16:19] shauntarves opened #116 "Help - I already emulate UUID"
I'm trying to use this package via restgwt and the emulated UUID class is colliding with my own emulated UUID class. I need my version because I also emulate some of the constructors and getters for working with the lsb and msb long fields. When I inherit gwt-jackson, it doesn't seem to matter where I put it in my module.xml file, your UUID seems to be the one used and I get compilation errors. Is

[2017-06-20 16:39] nmorel commented on #116
I don't know if that's possible.
If you want, you can make a PR to split the super folder in two. One with jackson super source and one with uuid source.
Then you make a gwt.xml file without the super uuid and one with it ?
Or if you know a better solution backward compatible.

[2017-07-15 04:14] freddyboucher opened #117 "Cannot instantiate the custom serializer/deserializer"
Hi,

I'm implementing a new gwt-jackson extension for **Objectify**.
This is currently where I am: https://github.com/freddyboucher/gwt-jackson/commit/8a58beb31ba344eaf2eb1d52d97a355bc376e880

The server-side Jackson Module is done but I'm facing an issue with the client-side implementation.

When I run the [GwtJacksonTestCase](https://github.com/freddyboucher/gwt-jackson/blob/objectify/extensions

[2017-07-15 19:40] nmorel commented on #117
The generator doesn't find a suitable constructor for your serializer and deserializer.
`Key` is a generic type and the generator requires a constructor or static method accepting a parameter for each type parameter.

You can follow [this guide](https://github.com/nmorel/gwt-jackson/wiki/Custom-serializers-and-deserializers#generic-types).

After that, I added a type in your tests and it works.
He

[2017-07-16 03:45] freddyboucher commented on #117
Waou!! thanks a lot!

[2017-07-17 17:22] kukido opened #118 "Support @JsonCreator for enum classes"
Hi! We would like to add support for `@JsonCreator` annotations in our enumerations. What would be the best way to approach that?

[2017-07-19 07:53] nmorel commented on #118
I didn't know that was possible!
What's the use case ?

[2017-07-19 16:51] kukido commented on #118
I added a PR with a test case. SO discussion: https://stackoverflow.com/questions/12468764/jackson-enum-serializing-and-deserializer

A workaround would be to have a custom deserializer for enum type. It works as expected.

[2017-07-31 08:57] freddyboucher opened #120 "SimpleBeanJacksonTest.testSerializeValue FAILURE"
When I run `mvn clean install` on the head master 376868794d2e6055bd47fa36c227311b5761ffd0, I get a test FAILURE:

testSerializeValue(com.github.nmorel.gwtjackson.jackson.mapper.SimpleBeanJacksonTest)  Time elapsed: 0.011 sec  <<< FAILURE!
junit.framework.ComparisonFailure: expected:<..."sqlDate":"2012-08-1[8]","sqlTime":"01:45:5...> but was:<..."sqlDate":"2012-08-1[9]","sqlTime":"01:45:5...>
	at

[2017-07-31 09:12] freddyboucher commented on #120
More detail: my computer timezone is AEST – Australian Eastern Standard Time / Eastern Standard Time (Standard Time)
I know there is an issue with GWT DateTimeFormat (see https://github.com/gwtproject/gwt/issues/8259)
Could it be related? Thanks

[2017-07-31 09:23] freddyboucher commented on #120
Yes it's timezone related!
When I set my mac timezone to Paris, it works fine!

[2017-07-31 10:28] #117 closed

[2017-07-31 10:42] freddyboucher opened #121 "ClassNotFoundException super source"
Hi,
I'm creating a new [gwt-jackson-objectify](https://github.com/freddyboucher/gwt-jackson/tree/objectify)
The extension seems to works fine and all the JUnit tests are ok!

But when I try to use this extension in a [side project](https://github.com/freddyboucher/gwt-storage-objectify/tree/gwt-jackson-objectify), it fails at compile time.

One particularity of my extension is it uses **super sour

[2017-07-31 12:14] nmorel commented on #121
Just by looking at the code, I can't find what's wrong.
I generated the jar and it contains everything.
You sure your jar in local maven repository is up to date ?

[2017-09-16 09:17] freddyboucher commented on #121
I found the issue!
In my **gwt-jackson-objectify** extension I just replace `<scope>provided</scope>` by `<scope>compile</scope>`:
[code]

[2017-09-16 09:17] #121 closed

[2017-09-17 06:44] freddyboucher opened #122 "Missing newInstance method for KeySerializer"
Hi,
I'm creating a new [gwt-jackson-objectify](https://github.com/freddyboucher/gwt-jackson/tree/objectify)

It's almost ready but I'd like to create custom **KeySerializer** / **KeyDeserializer** for a generic type Ref\<T>.

Here the related commit https://github.com/freddyboucher/gwt-jackson/commit/8fbd6db5a4dbc497939a13cbdeef662a61172c2a

The problem looks to be it never calls **RefKeySerialize

[2017-09-17 13:41] nmorel commented on #122
Hello!

You can try with that PR : https://github.com/freddyboucher/gwt-jackson/pull/1
Generics were not supported on Key(De)Serializer. I added a quick hack (copy/paste from JsonSerializer).

[2017-09-18 05:51] freddyboucher commented on #122
@nmorel
That's awesome! It works perfectly.
(I amended your commit to extract the **core lib** update from the **objectify extension** update, see https://github.com/freddyboucher/gwt-jackson/commits/objectify)

[2017-09-18 05:51] #122 closed

[2017-09-18 07:37] freddyboucher opened #123 "Missing global parameter to set writeDatesAsTimestamps"
Hi,
I'd like to always write Dates as Timestamps.
Would  is it possible to add a global parameter to do it?

- either in the GWT mobule *.gwt.xml like `<set-property name="gwtjackson.configuration.writeDatesAsTimestamps" value="TRUE" />`
- either as a static parameter like `ObjectMapperCreator.setWriteDatesAsTimestamps(true)`

Thanks in advance.

[2017-09-18 09:08] freddyboucher opened #124 "Generic KeySerializer / Deserializer for Serializable"
Hi,
I'm creating a new [gwt-jackson-objectify](https://github.com/freddyboucher/gwt-jackson/tree/objectify)

So far everything is working fine now!

But in addition of registering this new objectify extension in my project with `<inherits name="com.github.nmorel.gwtjackson.objectify.GwtJacksonObjectify" />`

I also have to declare `<extend-configuration-property name="gwtjackson.configuration.exte

[2017-09-18 11:18] freddyboucher commented on #123
Oops It's already set as true by default.
The issue is probably in [resty-gwt](https://github.com/resty-gwt/resty-gwt) lib

[2017-09-18 11:18] #123 closed

[2017-09-23 05:01] freddyboucher opened #125 "Incorrect serialisation of Map<> with a null value with JsonSerializationContext#serializeNulls == false"
Hi,
I'm creating a new [gwt-jackson-objectify](https://github.com/freddyboucher/gwt-jackson/tree/objectify)

I noticed an incorrect JSON when I serialise a Map with a null value when JsonSerializationContext#serializeNulls == false

I'm going to submit a patch.

[2017-09-23 08:38] freddyboucher commented on #124
Since I started this ticket, I slightly changed the approach!

# 1. Server side

I have now a working **server** side implementation:

If I want to use any **Bean** as Map key, I just have to implement a new **generic** interface [KeySerializable\<T>](https://github.com/freddyboucher/gwt-jackson/blob/fcd5eeb965c24974587c0257b026254aec2b7c07/extensions/objectify/src/main/java/com/github/nmorel/gwtj

[2017-09-30 14:00] #125 closed

[2017-09-30 14:05] nmorel commented on #120
Can you try by specifying the timezone in the pom please ? Like here : https://stackoverflow.com/a/23466219

[2017-10-16 22:09] yasinmustafa opened #127 "HashMap <SimplePojo, Set <Integer>> ...does not serialize into Json"
As the title suggests. I have a pojo which does not serialize into Json correctly. The map attribute inside my pojo gets missed

The map is of the following type
`HashMap <SimplePojo, Set <Integer>>`

Where SimplePojo is a class with two String fields.

If I  change the map to be as follows then it works
`HashMap <String, Set <Integer>>`

[2017-10-17 12:37] #116 closed

[2017-10-17 12:48] nmorel commented on #127
You have to provide a serializer for your `SimplePojo` : https://github.com/nmorel/gwt-jackson/wiki/Custom-serializers-and-deserializers

To avoid creating your own serializer, you can add a toString() method to your pojo and use the ToStringKeySerializer :
[code]

[2017-10-18 09:39] yasinmustafa commented on #127
thanks!

[2017-10-18 09:39] #127 closed

[2017-11-26 02:12] freddyboucher commented on #79
I'm facing the same Exception when I **compile** my GWT 2.8.2 project (so no super dev mode).

[INFO] Compiling module com.project.App
[INFO]    Adding '94' new generated units
[INFO]       Tracing compile failure path for type 'com.google.web.bindery.event.shared.UmbrellaExceptionBeanJsonDeserializerImpl'
[INFO]          [ERROR] Errors in 'generated://1F08ECA3B1606808245F0A02107D1668/com/google/w

[2017-12-06 08:18] #120 closed

[2017-12-06 08:34] freddyboucher commented on #120
@nmorel
Sorry didn't see your answer, I will test your it because I still face this issue when I'm running tests locally.

[2017-12-21 12:09] vegegoku commented on #63
@nmorel i am working on an APT based version of gwt-jackson, but my version is minimal one, so instead of changing the original lib i am going to implement my own, but i need to use classes from this library, do you have any objections for using these classes? knowing that i am going to change the packages, but i will keep the Author in the class header java docs.

[2017-12-21 12:50] nmorel commented on #63
@vegegoku No objections :) Go ahead

[2017-12-21 12:57] vegegoku commented on #63
Thank you so much
so this is the new Library for those who are interested, it is still a work in progress but its already usable for limited use cases, features will be added gradually.
https://github.com/vegegoku/gwt-jackson-apt

[2017-12-21 15:28] nmorel commented on #63
Nice! I'm sure people will be interested in it.
If you have any question concerning the source code of gwt-jackson, don't hesitate to ask.

[2017-12-22 10:59] dnouls commented on #124
Any progress on supporting any key type in gwt jackson ? I need this as well in my project.

[2017-12-23 21:31] vegegoku commented on #63
A working snapshot of gwt-jackson-apt is now available
https://github.com/vegegoku/gwt-jackson-apt

[2017-12-24 23:46] freddyboucher commented on #124
@dnouls
Yes it's already done by @nmorel  here https://github.com/nmorel/gwt-jackson/pull/128/commits/d9aabdb94e51137b21db688db1fe9c39187b8a07
It's part of another PR but I can easily submit a PR specifically to resolve this issue to unblock you.
I will do that later today.

[2017-12-25 03:15] freddyboucher commented on #124
@dnouls
I've created the PR https://github.com/nmorel/gwt-jackson/pull/135

[2017-12-26 09:56] #124 closed

[2018-01-02 17:51] ravi473 opened #136 "No source code is available for type com.fasterxml.jackson.databind.ObjectMapper; did you forget to inherit a required module?"
Happy New Year !!!!

I am new to GWT and I have been trying to figure out the solution for this issue but none of them are worked.
I am using gwt:2.0.4
java - 8
tried with various jackson  versions - 2.0.0 to latest one

issue:
` [ERROR] Errors in 'file:/C:/Users/ravi/Development/testing/ui/common/client/RestService.java'
[INFO]          [ERROR] Line 14: No source code is available for type com.fa

[2018-01-30 19:02] WORMSS commented on #118
Was this ever addressed?

As we were unaware of the limitations of JsonCreator on an enum and unfortunately have used code similar to the below
[code]
The main part here is we return `UNKNOWN`, which is the default value of the enum, if the value coming from the server does not match an enum we have in the system.

We thought `@JsonCreator`  would be our saviour. We thought it had been tested and

[2018-02-02 21:36] kukido commented on #118
We decided to use a workaround, considering a number of enumerations affected.

Here's what you need for the workaround:

Enumeration JSON deserializer

[code]

Key Enumeration JSON Deserializer (optional)

[code]

CustomDeserializersConfiguration

[code]

Update gwt module

[code]

[2018-02-02 23:40] WORMSS commented on #118
Ok, when I am back at work on Monday, I will need to give it a try.. But I will admit, I have No idea what any of the code above does or how to use it.

[2018-02-17 01:10] johnwyz88 commented on #136
+1

I am facing the same issue.

gwt-compile:
     [java] Compiling module com.amazon.sheets.gwt.ipoi.IncrementalPOI
     [java]    Tracing compile failure path for type 'com.xxx.xxx.xxx.xxx.xxx.xxx.xxx'
     [java]       [ERROR] Errors in 'file:/Users/xxx/xxx.java'
     [java]          [ERROR] Line 20: No source code is available for type com.fasterxml.jackson.databind.ObjectMapper; did you forge

[2018-02-18 08:15] nmorel commented on #136
Are you trying to use `com.fasterxml.jackson.databind.ObjectMapper` instead of `com.github.nmorel.gwtjackson.client.ObjectMapper` ?
You should not depend on jackson databind package in your client code, only the annotations.

[2018-02-18 16:53] johnwyz88 commented on #136
I am trying to transpile com.fasterxml.jackson.databind.ObjectMapper (on
server side) to  com.github.nmorel.gwtjackson.client.ObjectMapper (on
client side).

On Feb 18, 2018 12:15 AM, "Nicolas Morel" <notifications@github.com> wrote:

Are you trying to use com.fasterxml.jackson.databind.ObjectMapper instead
of com.github.nmorel.gwtjackson.client.ObjectMapper ?
You should not depend on jackson data

[2018-03-26 15:24] kukido opened #138 "Support for java.util.Optional"
Hi Nicolas,
I know that `gwt-jackson` is currently limited to the lowest version of **jdk** supported by **gwt**. Will you be open to having a separate branch with **jdk8** code? I've added support for `java.util.Optional` to our internal codebase via serializers/deserializers, but would love to share it with the rest of the community either via forked version or by submitting a PR to `nmore/gwt-j

[2018-03-26 16:30] nmorel commented on #138
Hello,

I think it should work with the current config if you add your serializer/deserializer inside an extension like guava.
Inside the pom.xml of your maven artifact, you configure the jdk to 8 and gwt version to 2.8+ and it "should" work.

[2018-04-17 06:44] darumaGit opened #140 "Expected a string but was BEGIN_OBJECT at line 1 column 2"
Hello. I am using gwt-jackson. Parsing an object like {"name":"VALUE"} I get an error "Error at line 1 and column 2 of input <{"name": "AUSTRIA"}>.
I am trying to parse it into enum object like:

public enum Countries {
    AUSTRIA(2, 2, 1, 1, 1, 1),
    ......
    @JsonProperty(value = "name")
    private String name;

    public CountryRegions getName(){return valueOf(name);}

    public void se

[2018-04-24 12:58] nmorel commented on #140
Hello,

Sorry for the late response.
You are creating a mapper directly on your enum.
The "json" should be the value directly :
[code]

If you have a json with `{\"name\": \"AUSTRIA\"}`, you should create a mapper on a class with a `name` property of type `Countries`.

[2018-05-15 16:14] michael-newsrx opened #143 "Please REVERT the dependency on Jackson 2.9.*, Jackson 2.9.* is NOT compatible with GWT."
Compiling module com.newsrx.butter.Butter
   Tracing compile failure path for type 'com.fasterxml.jackson.annotation.JacksonInject'
      [ERROR] Errors in 'jar:file:/Users/jason/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-annotations/2.9.5/2fc22732b6e1e7b6ed5eebfab8866766bb3a84d/jackson-annotations-2.9.5-sources.jar!/com/fasterxml/jackson/annotation/JacksonInject.java'

[2018-05-15 16:33] nmorel commented on #143
Hello,
There is a PR to fix the issue : https://github.com/nmorel/gwt-jackson/pull/142
I just need to find time to release an other version.

[2018-05-16 03:10] nfekete opened #144 "Support for @JsonCreator(mode = Mode.DELEGATING)"
There's a pattern for json serialization through Jackson that [Immutables](https://github.com/immutables/immutables) is using that works in Jackson but it's not currently supported by gwt-jackson.

The Immutables pattern looks like this. You define an abstract class/interface, annotate it with `@Immutable`, and Immutables will generate an immutable implementation of the abstract class/interface wi

[2018-05-19 06:10] nmorel commented on #143
PR merged and 0.15.2 released.

[2018-05-19 06:10] #143 closed

[2018-05-28 09:46] alexxomka opened #146 "Custom deserializer compilation error"
I have got a problem with creation custom deserializer like Optional
Error:

[code]

Wrapper class:
[code]
Desrializer:

[code]

Configuration and initialization:

[code]

[2018-08-08 08:58] fr3driiik opened #149 "Getter returning Optional<T> of nullable T causing compilation error"
Hi!

I'm having some troubles with class containing fields that are nullable and getters for those that return Optional<T>:

[code]

This causes the following error:

Looking at the generated Serializer I see that it contains the following:

[code]
Which of course isn't working.

I've used the following config:

[code]
Looking in the code for method parse in PropertyParser I see that it uses the h

[2018-08-08 09:15] nmorel commented on #149
It's a bug and an edge case I think.
It's rare to have a field and a getter with different type.
But with getterVisibility set to NONE, the generator should only see the field and don't use Optional<String> at all. The getValue of the generated serializer should be a String.

To solve it without fixing the bug, the easiest way would be to rename your getter.
You can also try @JsonProperty with dif

[2018-08-15 14:52] ecerichter opened #151 "GWT 2.6.1 + GwtJackson 0.15.3"
I'm having trouble after upgrade from Gwt-Jackson 0.12.0 to 0.15.3.
When compiling, I'm getting the following error;
Rebinding open.java.util.List__br_com_myCompany_ui_pub_Log_Gen_GwtJackEncDec_.GwtJackMapper
         Checking rule <replace-with class='com.github.nmorel.gwtjackson.client.JsonSerializationContext.DefaultBuilder'/>
            [WARN] Unknown type 'com.github.nmorel.gwtjackson.client

[2018-08-16 23:41] ecerichter commented on #151
Tryed every release from 0.15.3 till 0.12.0. Only 0.12.0 compiles without errors.

[2018-08-16 23:49] ecerichter commented on #151
Ok, some light finally! 0.12.0 stopped to compile (with same error).
Now, I've discovered that jackson-annotations-2.7.2-sources.jar MUST be in compilation classpath.
I'll try latest release now.

[2018-08-16 23:59] ecerichter commented on #151
Yes, it is compiling correctly. I'm closing this issue right now.
Thanks, and sorry for disturbing.

[2018-08-16 23:59] #151 closed

[2018-09-16 05:28] #149 closed

[2018-09-18 14:43] angryagr commented on #117
Hi, could you help me? What is the  RawKeySerializer here? How to implement it?
Thanks a lot.

[2018-09-18 14:47] freddyboucher commented on #117
@angryagr
RawKeySerializer is necessary for the [objectify extension](https://github.com/nmorel/gwt-jackson/tree/master/extensions/objectify)
What is your issue?

[2018-09-18 15:07] angryagr commented on #117
So, my problem: I have RestyGwt client and Spring mvc Server. I want to achieve their communication.
But RestyGwt cant property serialise the types.
**Here is my code:**

**generic Action interface and its Implementation:**
`@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, include = JsonTypeInfo.As.PROPERTY, property = "class")
public interface Action<IxR extends Result> extends Serializable {}`

**and

[2018-09-18 16:26] freddyboucher commented on #117
@angryagr
Ok I see...
I added a commit to illustrate your issue: https://github.com/freddyboucher/gwt-storage-objectify/commit/131497e23684fe836301f372aceee3c3ab6f9745

But if you checkout this commit https://github.com/freddyboucher/gwt-storage-objectify/commit/bd98686b7ce95a1fe771492a09d84cc72783f92d everything is working fine

[2018-09-18 20:58] angryagr commented on #117
Thank you very much =)))) Its what I needed=))))

Am Di., 18. Sep. 2018 um 18:30 Uhr schrieb Freddy Boucher <
notifications@github.com>:

[2018-11-02 20:09] isorashi commented on #118
Is there any update on this?  I pulled in 0.15.4 to my project but it seems like enums with a static `@JsonCreator` method are still using the standard enum deserializer.  I know it's possible to write a custom one deserializer (and have done so), but would prefer to use the methods specified by our generated model.

[2019-02-04 17:46] llowrey opened #152 "JsonSerializationContext.Builder override not working as expected"
I have a JsonDeserializationContext.Builder override working as expected but the serialization builder isn't working.

Here's what I have in my module:
[code]

The javascript ends up looking like this:
[code]

It's instantiating an instance of DefaultBuilder instead of my builder.

But, I know that my 'replace-with' works because I can do this:

[code]
... and the output is ...
[code]

So, the GWT

[2019-02-06 02:19] dynamphorousnmt opened #153 "Error:GWT Compiler: No source code is available for type com.fasterxml.jackson.annotation.JsonTypeInfo.As; did you forget to inherit a required module?"
I'm trying a very simple example just testing creating an ObjectMapper for <String> or a very simple class object with only primitive types (ints & Strings).  and I'm getting lots of errors during compile.

[code]

I've looked through the errors others have had, and nothing is jumping out at me as being wrong.  These are the inherits in my gwt.xml file

    <inherits name='com.google.gwt.user.User

[2019-02-28 10:39] rvervaek opened #154 "JsonTypeInfo defaultImpl attribute not working"
Hi,

I'm having issues using the 'defaultImpl' attribute of JsonTypeInfo annotation. This is the situation:

`
public class Example {

    private String name;

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }
}

@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, property = "@class", defaultImpl = Example.class)
public class E

[2019-03-17 00:19] freddyboucher opened #155 "Update jackson dependency to 2.9.8"

[2019-03-17 00:57] freddyboucher opened #157 "Update javapoet dependency to 1.11.1"

[2019-04-02 16:17] ak80 opened #159 "Support for JsonFormat.Feature.ADJUST_DATES_TO_CONTEXT_TIME_ZONE"
Hi,

any plans to add ADJUST_DATES_TO_CONTEXT_TIME_ZONE to the JsonFormat.Feature enum?

I am trying to use it, working with the serialization of ZonedDateTime and have to resort to some tricks to make it work.

[2019-08-21 07:51] nmorel commented on #108
Hello, I merged your PR.
Thanks for your work and sorry for the very long wait.

A snapshot should be available soon.
But it will be harder to make a release :/
The maven plugin release used is outdated and I no longer have an environment to build a release.
Last time I tried, it was the signature with gpg that failed.

[2019-08-21 07:59] richturner commented on #108
Hi,

No worries, long term I'm hoping to eradicate GWT code from the codebase but tools like this are invaluable when working with GWT.

[2019-08-21 07:59] #108 closed

[2019-08-21 07:59] nmorel commented on #108
Well, I can't make snapshot anymore it seems. The build on Travis is broken.
Java 8 is no longer supported and on jdk 9+, a class was moved/removed and the tests fails.

[2019-10-03 04:07] freddyboucher opened #160 "Annotations on Java8 default interface are ignored"
The following code will work as expected with the real Jackson library but it will fail will gwt-jackson.
[code]

[2019-10-04 01:09] freddyboucher commented on #160
As of latest GWT 2.8.2, we cannot fix this issue because default methods are not exposed in Generator.

I'm quoting [Thomas Broyer](https://groups.google.com/d/msg/google-web-toolkit/JqHMFcrHKDI/-HFU0dy8BQAJ)

Because we want to encourage migration of generators to annotation processors, there was no pressing need to support it in generators; so generators (and users of generators!) cannot take ad

[2019-10-09 19:54] AshishJumbo opened #161 "Can't figure out the stackoverflow I am getting"

[2019-10-09 19:58] AshishJumbo commented on #161
I checked and ensured all the getters and setters are in place. Also, the Java serializer works fine with the instance/object of the Class I am trying to serialize/deserialize using gwt-jackson.

[2019-10-11 16:00] blop commented on #116
I have the exact same issue.
It seems the only way is to fork gwt-jackson and remove/split their UUID implementation.

[2019-10-16 09:24] blop commented on #116
I made a small project that provides a more complete UUID implementation :
https://github.com/taktik/gwt-uuid

If you feel like improving the one embedded within gwt-jackson ;-)

[2020-01-17 11:17] gkresic opened #164 "More (de)serialization customization (JsonFilter or equivalent)"
Imagine a class whose getters in some cases throw specific exception. JSON serialization should respond to these exceptions by not serializing given field.

On server, I solved this using `com.fasterxml.jackson.databind.ser.PropertyFilter`, but I can't find a way to do anything similar in gwt-jackson.

I'm aware that `@JsonFilter` is not supported, so I tried other approaches but without success.

[2020-07-13 03:12] freddyboucher opened #165 "Double.NaN / NEGATIVE_INFINITY / POSITIVE_INFINITY - Numeric values must be finite, but was"
Hi,
Our app has recently started to return **Double.NaN** field but **gwt-jackson** throws `IllegalArgumentException Numeric values must be finite, but was NaN`.
I don't see any reason why these specifics values are not supported, regular Jackson serializes those with a double quoted: "NaN", "-Infinity" and "Infinity".
Patch is coming.

[2020-07-13 10:08] #165 closed

[2020-12-02 08:43] Fuzzo opened #170 "Many compile problems"
I'm using Java 11 with GWT 2.9.0 and Jackson 2.10.1 and I get the following errors while compiling:

[code]
I followed all the instructions: put all dependencies and inheritance on my GWT module.
How can I fix this?

[2021-03-23 16:02] jorissynaeve commented on #154
I see I have the same problem.

I have a class DataDto
`public class DataDto {
  List<A> data;
  // + getters and setters
}`

The class A (default class)
`public class A {
  String id;
  // + getters and setters
}`

The class B (extends A)
`@JsonTypeInfo(use = JsonTypeInfo.Id.CLASS, property = "@class", defaultImpl = A.class)
public class B extends A {
  String name;
  // + getters and setters
}`